<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="css/magnific-popup.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/animate.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ****** UPLOADED MENU FROM HEADER.HTML ***** -->
    <header id="header"> </header>
    <!-- ***** BANNER ***** -->
    <div class="top-header item7 overlay scrollme">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="wrapper animateme" data-when="span" data-from="0" data-to="0.75" data-opacity="1" data-translatey="-50">
              <h1 class="heading">Our Data Center</h1>
              <h3 class="subheading mb-0">Reliable and Powerful Infrastructure</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** DATA CENTER TOUR ***** -->
    <section class="sec-normal history-section custom sec-bg1 bg-colorstyle nobottompadding">
      <div class="container">
        <div class="popup-gallery">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <h2 class="section-heading mergecolor">Our Data Center in pictures</h2>
              <p class="section-subheading mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mt-50 position-relative">
              <a href="img/topbanner01.jpg" class="image-link" title="Caption text example 01">
                <img src="img/topbanner01.jpg" data-src="img/topbanner01.jpg" class="lazyload" alt="">
                <div class="zoo-content">
                  <div class="icoo">
                    <i class="icon-eye"></i>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mt-50 position-relative">
              <a href="img/topbanner02.jpg" class="image-link" title="Caption text example 02">
                <img src="img/topbanner02.jpg" data-src="img/topbanner02.jpg" class="lazyload" alt="">
                <div class="zoo-content">
                  <div class="icoo">
                    <i class="icon-eye"></i>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mt-50 position-relative">
              <a href="img/topbanner03.jpg" class="image-link" title="Caption text example 03">
                <img src="img/topbanner03.jpg" data-src="img/topbanner03.jpg" class="lazyload" alt="">
                <div class="zoo-content">
                  <div class="icoo">
                    <i class="icon-eye"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- ***** WHY CHOOSE ANTLER ***** -->
    <section class="services sec-normal sec-bg2 scrollme bg-colorstyle nobottompadding">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading mergecolor">Security and confidentiality of your data</h2>
              <p class="section-subheading mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-seccolorstyle">
                <div class="plans badge feat bg-pink">auto</div>
                <img class="svg" src="fonts/svg/toxic.svg" alt="">
                <div class="title mergecolor">Toxic gas detection system</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="100" data-easeinout="0">
              <div class="service-section bg-seccolorstyle">
                <img class="svg" src="fonts/svg/video.svg" alt="">
                <div class="title mergecolor">Restricted access</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-seccolorstyle">
                <div class="plans badge feat bg-grey">pro</div>
                <img class="svg" src="fonts/svg/goal.svg" alt="">
                <div class="title mergecolor">Anti-DDoS protection</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** MAP ***** -->
    <section class="services maping sec-normal sec-grad-grey-to-grey bottompadding">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading text-white mergecolor">Our Datacenters are Located in 7 Regions</h2>
              <p class="section-subheading text-muted mergecolor"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
            </div>
            <div class="col-md-12 pt-5 scrollme position-relative">
              <img src="patterns/map.svg" class="lazyload w-10 animateme" alt="Load Balancing" data-when="view" data-from="1" data-to="0" data-opacity="0">
              <span class="datacenters montreal" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Montreal" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters newyork" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="New York" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." ></span>
              <span class="datacenters portugal"  data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Portugal" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters london" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="London" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters moskow" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Moskow"  data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters hongkong" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Hong Kong" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters singapure" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Singapure" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** FEATURES ***** -->
    <section class="history-section pb-80 sec-bg2 motpath noimage bg-seccolorstyle nobottompadding toppadding">
      <div class="container">
        <div class="sec-main sec-up mb-0 sec-bg1 bg-seccolorstyle noshadow">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="info-content">
                <h2 class="mb-4 mergecolor"><b>High Efficiency And Performance</b></h2>
                <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="" class="golink">quis nostrud exercitation ullamco</a> laboris nisi.</p>
                <p class="seccolor">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
              <img class="svg" src="patterns/efficiency.svg" alt="redundant">
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="info-content">
                <h2 class="mb-4 mergecolor"><b>Maximum Physical Security</b></h2>
                <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="" class="golink">denouncing pleasure</a> and praising pain was born and I will. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
              <img class="svg" src="patterns/maxsecurity.svg" alt="scalable">
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="info-content">
                <h2 class="mb-4 mergecolor"><b>High Availability Redundant Systems</b></h2>
                <p class="seccolor">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet, <a href="" class="golink">consectetur adipiscing elit,</a> sed do eiusmod tempor incididunt.</p>
                <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
              <img class="svg" src="patterns/redundant.svg" alt="provisioning">
            </div>
          </div>
        </div>
      </div>
    </section>
    <img class="blobright svg d-none" src="img/background/blob.svg" alt="Blob Background">
    <!-- ***** VIDEO ***** -->
    <section class="getready sec-bg1 scrollme bg-seccolorstyle">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="column-support-txt animateme" data-when="span" data-from="1" data-to="0" data-opacity="1" data-translatex="-60" data-easeinout="0">
              <div class="column-support-title text-dark mergecolor">Watch Antler Data Center</div>
              <div class="column-support-subtitle text-dark mergecolor">Your services in advanced Data Centers and Infrastructures.</div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="btn-floats">
              <a class="btn btn-default-yellow-fill me-3 popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto">Video Data Center</a>
              <a href="contact.html" class="btn btn-default-pink-fill">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/jquery.scrollme.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script async src="js/lazysizes.min.js"></script>
<script defer src="js/scripts.min.js"></script>
<script defer src="js/settings-init.js"></script>
</body>
</html>