<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="css/magnific-popup.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
    <header id="header"> </header>
    <!-- ***** BANNER ***** -->
    <div class="top-header scrollme">
      <div class="total-grad"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper animateme" data-when="span" data-from="0" data-to="0.75" data-opacity="1" data-translatey="-50">
              <div class="heading">Elements to customize</div>
              <div class="subheding">Components and options for laying out your project</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** BUTTONS ***** -->
    <section class="sec-normal exapath noimage bg-colorstyle nobottompadding">
      <div class="container">
        <div class="sec-main sec-bg1 bg-seccolorstyle noshadow">
          <div class="row">
            <div class="col-sm-12">
              <h2 class="section-heading mergecolor">Buttons</h2>
              <p class="section-subheading mergecolor">Use Antler custom button styles for actions in forms, dialogs, and more.</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="row">
                <div class="col-sm-6 col-md-3 pt-5">
                  <p class="seccolor">Pink Outline</p>
                  <a href="#" class="btn btn-default-pink">Button</a>
                </div>
                <div class="col-sm-6 col-md-3 pt-5">
                  <p class="seccolor">Purple Outline</p>
                  <a href="#" class="btn btn-default-purple">Button</a>
                </div>
                <div class="col-sm-6 col-md-3 pt-5">
                  <p class="seccolor">Default Outline</p>
                  <a href="#" class="btn btn-default">Button</a>
                </div>
                <div class="col-sm-6 col-md-3 pt-5">
                  <p class="seccolor">Pink Fill</p>
                  <a href="#" class="btn btn-default-pink-fill">Button</a>
                </div>
                <div class="col-sm-6 col-md-3 pt-5">
                  <p class="seccolor">Purple Fill</p>
                  <a href="#" class="btn btn-default-purple-fill">Button</a>
                </div>
                <div class="col-sm-6 col-md-3 pt-5">
                  <p class="seccolor">Yellow Fill</p>
                  <a href="#" class="btn btn-default-yellow-fill">Button</a>
                </div>
                <div class="col-sm-6 col-md-3 pt-5">
                  <p class="seccolor">Default Fill</p>
                  <a href="#" class=" btn btn-default-fill ">Button</a>
                </div>
                <div class="col-sm-6 col-md-3 pt-5">
                  <p class="seccolor">Gradient Fill</p>
                  <a href="#" class="btn btn-default-grad-purple-fill">Button</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** TYPOGRAPHY ***** -->
    <section class="tipography-ex sec-normal sec-bg1 bg-colorstyle">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="section-heading mergecolor">Tipography</h2>
            <p class="section-subheading mergecolor">Including global settings, headings, body text, paragraph, blockquote text and more.</p>
          </div>
          <div class="col-md-12 col-lg-12 pt-5">
            <table class="table">
              <tbody>
                <tr class="seccolor">
                  <td>
                    <h1>h1. This is a heading</h1>
                  </td>
                  <td class="type-info">Semibold 36px</td>
                </tr>
                <tr class="seccolor">
                  <td>
                    <h2>h2. This is a heading</h2>
                  </td>
                  <td class="type-info">Semibold 30px</td>
                </tr>
                <tr class="seccolor">
                  <td>
                    <h3>h3. This is a heading</h3>
                  </td>
                  <td class="type-info">Semibold 24px</td>
                </tr>
                <tr class="seccolor">
                  <td>
                    <h4>h4. This is a heading</h4>
                  </td>
                  <td class="type-info">Semibold 18px</td>
                </tr>
                <tr class="seccolor">
                  <td>
                    <h5>h5. This is a heading</h5>
                  </td>
                  <td class="type-info">Semibold 14px</td>
                </tr>
                <tr class="seccolor">
                  <td>
                    <h6>h6. This is a heading</h6>
                  </td>
                  <td class="type-info">Semibold 12px</td>
                </tr>
              </tbody>
            </table>
            <h4 class="pt-5 seccolor">Paragraph</h4>
            <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="seccolor">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            <h4 class="pt-5 seccolor">Blockquote Text Left</h4>
            <figure class="text-start">
              <blockquote class="blockquote">
                <p class="seccolor">A well-known quote, contained in a blockquote element.</p>
              </blockquote>
              <figcaption class="blockquote-footer seccolor">
                Someone famous in <cite title="Source Title">Source Title</cite>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** COLUMN & ROW ***** -->
    <section class="sec-normal sec-bg2 bg-seccolorstyle nobottompadding">
      <div class="container">
        <div class="row mb-4">
          <div class="col-sm-12">
            <h2 class="section-heading mergecolor">Grid system</h2>
            <p class="section-subheading mergecolor">Powerful mobile-first flexbox grid to build layouts of all shapes and sizes thanks to a twelve column system.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">25% Column</h4>
              <p class="seccolor">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">25% Column</h4>
              <p class="seccolor">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">25% Column</h4>
              <p class="seccolor">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">25% Column</h4>
              <p class="seccolor">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">25% Column</h4>
              <p class="seccolor">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">50% Column</h4>
              <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">25% Column</h4>
              <p class="seccolor">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-9 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">75% Column</h4>
              <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-3 mt-4">
            <div class="sec-sec sec-bg1 bg-colorstyle noshadow">
              <h4 class="mergecolor">25% Column</h4>
              <p class="seccolor">Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** FORM & INPUTS ***** -->
    <section class="sec-normal sec-bg1 bg-seccolorstyle">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 mb-4">
            <h2 class="section-heading mergecolor">Form Inputs</h2>
            <p class="section-subheading mergecolor">Several form control styles, layout options, and custom components for creating a wide variety of forms</p>
          </div>
        </div>
        <div class="table tabs-item active">
          <div class="cd-filter-block mb-0">
            <div class="cd-filter-content">
              <form id="myForm">
                <div class="row">
                  <div class="col-md-6 position-relative">
                    <label for="fullname"><i class="fas fa-user-tie"></i></label>
                    <input type="text" name="fullname" id="fullname" placeholder="Full Name" required="">
                  </div>
                  <div class="col-md-6 position-relative">
                    <label for="inputEmail"><i class="fas fa-envelope"></i></label>
                    <input type="email" name="email" id="inputEmail" placeholder="Email Address" required="">
                  </div>
                  <div class="col-md-6 position-relative">
                    <label for="inputNewPassword1"><i class="fas fa-lock"></i></label>
                    <input type="password" name="password" id="inputNewPassword1" placeholder="Password">
                  </div>
                  <div class="col-md-6 position-relative">
                    <div class="cd-select mt-4">
                      <label class="db"></label>
                      <select name="securityqid" id="inputSecurityQId" class="select-filter">
                        <option value="">Choose Department</option>
                        <option value="1">Support/Help Desk</option>
                        <option value="2">Commercial Department</option>
                        <option value="3">Sales Department</option>
                        <option value="4">Schedule Metings</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group mt-4">
                      <textarea name="notes" class="form-control" rows="5" placeholder="You can enter any additional notes or information you want included with your order here..."></textarea>
                    </div>
                  </div>
                  <div class="col-md-6 mt-5">
                    <ul class="radio-group radios-filter cd-filter-content list">
                      <li>
                        <input value=".default" type="radio" name="radio" id="radio1" checked="">
                        <label class="radio-label seccolor" for="radio1">Default</label>
                      </li>
                      <li>
                        <input value=".cloud" type="radio" name="radio" id="radio2">
                        <label class="radio-label seccolor" for="radio2">Cloud</label>
                      </li>
                      <li>
                        <input value=".hosting" type="radio" name="radio" id="radio3">
                        <label class="radio-label seccolor" for="radio3">Hosting</label>
                      </li>
                      <li>
                        <input value=".reseller" type="radio" name="radio" id="radio4">
                        <label class="radio-label seccolor" for="radio4">Reseller</label>
                      </li>
                      <li>
                        <input value=".dedicated" type="radio" name="radio" id="radio5">
                        <label class="radio-label seccolor" for="radio5">Dedicated</label>
                      </li>
                    </ul>
                    <button value="send" class="btn btn-default-yellow-fill mt-0 mb-3 me-3">Send <i class="fas fa-lock"></i>
                    </button>
                    <button type="reset" value="reset" class="btn btn-default-fill mt-0 mb-3 me-3">Reset</button>
                    <ul class="list d-inline">
                      <li>
                        <input name="newsletter" type="checkbox" id="checkbox" class="filter">
                        <label for="checkbox" class="checkbox-label c-grey seccolor" >Subscribe our newsletter</label>
                      </li>
                    </ul>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** CUSTOMIZE ***** -->
    <section id="addons" class="sec-normal history-section custom sec-bg3 bg-colorstyle">
      <div class="faq">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h2 class="section-heading text-white mergecolor">Tabs & Collapse Style</h2>
              <p class="section-subheading text-muted mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="section-offer services w-100">
                <div class="tabs offers-tabs">
                  <div class="tabs-header mb-5">
                    <ul>
                      <li class="col-lg-3 col-md-3 col-sm-12 active">
                        <i class="icon-preferences"></i> <div class="text-white seccolor">Control Panel</div>
                      </li>
                      <li  class="col-lg-3 col-md-3 col-sm-12">
                        <i class="icon-speed"></i> <div class="text-white seccolor">Bandwidth</div>
                      </li >
                      <li  class="col-lg-3 col-md-3 col-sm-12">
                        <i class="icon-privacy"></i> <div class="text-white seccolor">SSL Certificates</div>
                      </li >
                    </ul>
                  </div>
                  <div class="tabs-content text-start">
                    <div class="tabs-item active">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="info-content text-white">
                            <h4 class="mergecolor">Easy management with cPanel or Plesk</h4>
                            <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will. </p>
                            <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-item">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="info-content text-white">
                            <h4 class="mergecolor">10x more performance with Bandwidth</h4>
                            <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will. </p>
                            <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tabs-item">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="info-content text-white">
                            <h4 class="mergecolor">Secure browsing experience</h4>
                            <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will. </p>
                            <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 mt-5">
              <div class="sec-main sec-bg1 bg-seccolorstyle noshadow">
                <div class="accordion faq">
                  <div class="panel-wrap">
                    <div class="panel-title mergecolor active">
                      <span>What is Cloud Hosting?</span>
                      <div class="float-end">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus c-pink"></i>
                      </div>
                    </div>
                    <div class="panel-collapse" style="display: block;">
                      <div class="wrapper-collapse">
                        <div class="info">
                          <ul class="list seccolor">
                            <li>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-wrap">
                    <div class="panel-title mergecolor">
                      <span>Does Shared Web Hosting include Email Hosting as well?</span>
                      <div class="float-end">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus c-pink"></i>
                      </div>
                    </div>
                    <div class="panel-collapse">
                      <div class="wrapper-collapse">
                        <div class="info">
                          <ul class="list seccolor">
                            <li>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-wrap">
                    <div class="panel-title mergecolor">
                      <span>Is an upgrade possible from my current Linux Shared Hosting Plan?</span>
                      <div class="float-end">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus c-pink"></i>
                      </div>
                    </div>
                    <div class="panel-collapse">
                      <div class="wrapper-collapse">
                        <div class="info">
                          <ul class="list seccolor">
                            <li>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-wrap">
                    <div class="panel-title mergecolor">
                      <span>Is there any money back guarantee with the Linux Web Hosting services?</span>
                      <div class="float-end">
                        <i class="fa fa-plus"></i>
                        <i class="fa fa-minus c-pink"></i>
                      </div>
                    </div>
                    <div class="panel-collapse">
                      <div class="wrapper-collapse">
                        <div class="info">
                          <ul class="list seccolor">
                            <li>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** GALLERIES ***** -->
    <section class="sec-normal history-section sec-bg1 bg-seccolorstyle nobottompadding">
      <div class="container">
        <div class="popup-gallery">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <h2 class="section-heading mergecolor">Galleries</h2>
              <p class="section-subheading mergecolor">A column style or slideshow component for cycling through images.</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mt-50 position-relative">
              <a href="img/topbanner01.jpg" class="image-link" title="Caption text example 01">
                <img src="img/topbanner01.jpg" data-src="img/topbanner01.jpg" class="lazyload" alt="">
                <div class="zoo-content">
                  <div class="icoo">
                    <i class="icon-eye"></i>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mt-50 position-relative">
              <a href="img/topbanner02.jpg" class="image-link" title="Caption text example 02">
                <img src="img/topbanner02.jpg" data-src="img/topbanner02.jpg" class="lazyload" alt="">
                <div class="zoo-content">
                  <div class="icoo">
                    <i class="icon-eye"></i>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 mt-50 position-relative">
              <a href="img/topbanner03.jpg" class="image-link" title="Caption text example 03">
                <img src="img/topbanner03.jpg" data-src="img/topbanner03.jpg" class="lazyload" alt="">
                <div class="zoo-content">
                  <div class="icoo">
                    <i class="icon-eye"></i>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-md-12 mt-5 position-relative">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="img/topbanner08.jpg" class="image-link" title="Caption text example 01">
                      <img src="img/topbanner08.jpg" class="d-block w-100 pb-5" alt="First slide">
                      <div class="zoo-content">
                        <div class="icoo">
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a href="img/topbanner09.jpg" class="image-link" title="Caption text example 02">
                      <img src="img/topbanner09.jpg" class="d-block w-100 pb-5" alt="Second slide">
                      <div class="zoo-content">
                        <div class="icoo">
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a href="img/topbanner10.jpg" class="image-link" title="Caption text example 03">
                      <img src="img/topbanner10.jpg" class="d-block w-100 pb-5"  alt="Third slide">
                      <div class="zoo-content">
                        <div class="icoo">
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.viewportchecker.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/jquery.scrollme.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script async src="js/lazysizes.min.js"></script>
<script defer src="js/scripts.min.js"></script>
<script defer src="js/settings-init.js"></script>
</body>
</html>