<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Antler - Hosting Provider & WHMCS Template</title>
  <link href="css/gdpr-cookie.min.css" rel="stylesheet">
</head>
<!-- ***** NEWS ***** -->
<div class="sec-bg3 p-2 pe-3 infonews">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 news">
        <div class="m-0 h6">
          <div class="badge bg-purple me-2">news</div>
          <small class="text-light">Gaming Servers Page Already Available. <a class="c-yellow" href="gaming">See Live Demo <i class="fas fa-arrow-circle-right"></i></a></small>
        </div>
      </div>
      <div class="col-md-6 link">
        <div class="infonews-nav float-end">
          <a href="blog-grid">Blog</a>
          <a href="contact">Support</a>
          <a href="login">myAntler</a>
          <a href="tel:1300-656-1046">+ (123) 1300-656-1046</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** NAV MENU DESKTOP ****** -->
<div class="menu-wrap">
  <div class="nav-menu">
    <div class="container">
      <div class="row">
        <div class="col-2 col-md-2">
          <a href="index">
            <img class="svg logo-menu d-block" src="img/logo.svg" alt="logo Antler">
            <img class="svg logo-menu d-none" src="img/logo-light.svg" alt="logo Antler">
          </a>
        </div>
        <nav id="menu" class="col-10 col-md-10">
          <div class="navigation float-end">
            <button class="menu-toggle">
            <span class="icon"></span>
            <span class="icon"></span>
            <span class="icon"></span>
            </button>
            <ul class="main-menu nav navbar-nav navbar-right">
              <li class="menu-item menu-item-has-children me-2">
                <a class="m-0 pe-1 v-stroke" href="#" data-i18n="[html]header.home"> </a>
                <div class="badge bg-pink me-4 wow animated shake delay-1s visible">NEW</div>
                <ul class="sub-menu dropdown bg-colorstyle">
                  <li class="menu-item"><a class="mergecolor" href="index" data-i18n="[html]submenu.homedefault"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="homevideo" data-i18n="[html]submenu.homevideo"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="homeimage" data-i18n="[html]submenu.homeimage"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="homegaming" data-i18n="[html]submenu.homegaming"> </a> <div class="menu badge feat bg-purple">NEW</div></li>
                  <li class="menu-item"><a class="mergecolor" href="home3d" data-i18n="[html]submenu.home3d"> </a> <div class="menu badge feat bg-purple">NEW</div></li>
                  <li class="menu-item"><a class="mergecolor" href="http://inebur.com/whmcs/?systpl=antler-rtl&language=arabic" target="_blank">WHMCS (RTL) </a> <div class="menu badge feat bg-pink">HOT</div></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children me-2">
                <a class="m-0 pe-1 v-stroke" href="#" data-i18n="[html]header.services"> </a>
                <div class="badge bg-pink me-4">PRO</div>
                <div class="sub-menu menu-large bg-colorstyle">
                  <div class="service-list">
                    <div class="service">
                      <img class="svg" src="fonts/svg/cloudfiber.svg" alt="Shared Hosting">
                      <div class="media-body">
                        <a class="menu-item mergecolor" href="hosting" data-i18n="[html]submenu.hosting"> </a>
                        <p class="seccolor">Sed ut perspiciatis unde omnis iste natus</p>
                      </div>
                    </div>
                    <div class="service">
                      <img class="svg" src="fonts/svg/reseller.svg" alt="Cloud Reseller">
                      <div class="media-body">
                        <a class="menu-item mergecolor" href="reseller" data-i18n="[html]submenu.reseller"> </a>
                        <p class="seccolor">Lorem ipsum dolor sit amet, consectetur</p>
                      </div>
                    </div>
                    <div class="service">
                      <img class="svg" src="fonts/svg/dedicated.svg" alt="Dedicated Server">
                      <div class="media-body">
                        <a class="menu-item mergecolor" href="dedicated" data-i18n="[html]submenu.dedicated"> </a>
                        <div class="menu badge feat bg-pink">FILTER</div>
                        <p class="seccolor">But I must explain to you how all this</p>
                      </div>
                    </div>
                    <div class="service">
                      <img class="svg" src="fonts/svg/vps.svg" alt="Cloud VPS">
                      <div class="media-body">
                        <a class="menu-item mergecolor" href="vps" data-i18n="[html]submenu.vps"> </a>
                        <div class="menu badge feat bg-grey">SSD</div>
                        <p class="seccolor">At vero eos et accusamus et iusto odio</p>
                      </div>
                    </div>
                    <div class="service">
                      <img class="svg" src="fonts/svg/wordpress.svg" alt="WordPress Hosting">
                      <div class="media-body">
                        <a class="menu-item mergecolor" href="wordpress" data-i18n="[html]submenu.wordpress"> </a>
                        <p class="seccolor">On the other hand, we denounce with</p>
                      </div>
                    </div>
                    <div class="service">
                      <img class="svg" src="fonts/svg/domains.svg" alt="Domains">
                      <div class="media-body">
                        <a class="menu-item mergecolor" href="domains" data-i18n="[html]submenu.domains"> </a>
                        <p class="seccolor">Lorem ipsum dolor sit amet, consectetur</p>
                      </div>
                    </div>
                    <div class="service">
                      <img class="svg" src="fonts/svg/code.svg" alt="Developer Hosting">
                      <div class="media-body">
                        <a class="menu-item mergecolor" href="developer" data-i18n="[html]submenu.developer"> </a>
                        <p class="seccolor">ed ut perspiciatis unde omnis iste natus</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="menu-item menu-item-has-children">
                <a class="v-stroke" href="#" data-i18n="[html]header.pages"> </a>
                <div class="sub-menu megamenu-list">
                  <div class="container">
                    <div class="row">
                      <div class="service-list col-md-9 bg-colorstyle">
                        <div class="row">
                          <div class="col-4 service">
                            <div class="media-body">
                              <div class="top-head">
                                <img class="svg" src="fonts/svg/favorite.svg" alt="Services">
                                <div class="menu-item c-grey mergecolor" data-i18n="[html]submenu.services"> </div> 
                              </div><hr>
                              <ul>
                                <li class="menu-item"><a class="mergecolor" href="emailsecurity" data-i18n="[html]submenu.emailsecurity"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="ssl" data-i18n="[html]submenu.ssl"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="email" data-i18n="[html]submenu.email"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="magento" data-i18n="[html]submenu.magento"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="gsuite" data-i18n="[html]submenu.gsuite"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="iptv" data-i18n="[html]submenu.iptv"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="gaming" data-i18n="[html]submenu.gaming"> </a> <div class="badge inside bg-pink">NEW</div></li>
                              </ul>     
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-body">
                              <div class="top-head">
                                <img class="svg" src="fonts/svg/infrastructure.svg" alt="Infrastructure">
                                <div class="menu-item c-grey mergecolor" data-i18n="[html]submenu.infrastructure"> </div>
                              </div><hr>
                              <ul>
                                <li class="menu-item"><a class="mergecolor" href="ddos" data-i18n="[html]submenu.ddos"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="datacenter" data-i18n="[html]submenu.datacenter"> </a> <div class="badge inside bg-grey">TOP</div></li>
                                <li class="menu-item"><a class="mergecolor" href="about" data-i18n="[html]submenu.about"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="database" data-i18n="[html]submenu.database"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="elements" data-i18n="[html]submenu.elements"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="voip" data-i18n="[html]submenu.voip"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="voice" data-i18n="[html]submenu.voice"> </a> <div class="badge inside bg-pink">NEW</div></li>
                              </ul> 
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-body">
                              <div class="top-head">
                                <img class="svg" src="fonts/svg/global.svg" alt="Global">
                                <div class="menu-item c-grey mergecolor" data-i18n="[html]submenu.others"> </div>
                              </div><hr>
                              <ul>
                                <li class="menu-item"><a class="mergecolor" href="payments" data-i18n="[html]submenu.payments"> </a> <div class="badge inside bg-pink">NEW</div></li>
                                <li class="menu-item"><a class="mergecolor" href="configurator" data-i18n="[html]submenu.config"> </a> <div class="badge inside bg-grey">HOT</div></li>
                                <li class="menu-item"><a class="mergecolor" href="cart" data-i18n="[html]submenu.cart"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="blog-grid" data-i18n="[html]submenu.bloggrid"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="checkout" data-i18n="[html]submenu.checkout"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="soon" data-i18n="[html]submenu.soon"> </a></li>
                                <li class="menu-item"><a class="mergecolor" href="promos" data-i18n="[html]submenu.promos"> </a> <i class="fas fa-tags c-pink ms-2"></i></li>
                                <li class="menu-item"><a class="mergecolor" href="blackfriday" data-i18n="[html]submenu.blackfriday"> </a> <div class="badge inside bg-pink">HOT</div></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="start-offer col-md-3">
                        <div class="inner">
                          <h4 class="title my-3">Cloud VPS SSD <br>Get 50% Discount</h4>
                          <div class="inner-content mb-4">Enjoy increased flexibility and get the performance you need with SSD Storage.</div>
                          <span class="m-0">Before <del class="c-pink">$20.00 /mo</del></span><br>
                          <h4 class="m-0"><b>Now</b> <b class="c-pink">$9.99 /mo</b></h4>
                          <a href="vps" class="btn btn-default-pink-fill mt-4">See Plans</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="menu-item menu-item-has-children">
                <a class="v-stroke" href="#" data-i18n="[html]header.features"></a>
                <ul class="sub-menu bg-colorstyle">
                  <li class="menu-item"><a class="mergecolor" href="http://inebur.com/whmcs/?systpl=antler" target="_blank" data-i18n="[html]submenu.whmcs"> </a> <div class="menu badge feat bg-pink">HOT</div></li>
                  <li class="menu-item"><a class="mergecolor" href="http://inebur.com/whmcs/cart.php?carttpl=antler&systpl=antler" target="_blank" data-i18n="[html]submenu.orderform"> </a><div class="menu badge feat bg-grey">TOP</div></li>
                  <li class="menu-item"><a class="mergecolor" href="http://inebur.com/antler/email/" target="_blank" data-i18n="[html]submenu.whmcsemail"> </a><div class="menu badge feat bg-grey">TOP</div></li>
                  <li class="menu-item"><a class="mergecolor" href="http://inebur.com/antler/newsletter/" target="_blank" data-i18n="[html]submenu.whmcsnewsletter"> </a><div class="menu badge feat bg-grey">TOP</div></li>
                  <li class="menu-item"><a class="mergecolor" href="pricing" data-i18n="[html]submenu.pricing"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="sliders" data-i18n="[html]submenu.sliders"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="configurator" data-i18n="[html]submenu.config"> </a> <div class="menu badge feat bg-pink">NEW</div></li>
                  <li class="menu-item"><a class="mergecolor" href="404" data-i18n="[html]submenu.error"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="login" data-i18n="[html]submenu.register"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="login" data-i18n="[html]header.login"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="elements" data-i18n="[html]submenu.elements"> </a></li>
                  <li class="menu-item"><a class="mergecolor" href="sections" data-i18n="[html]submenu.sections"> </a></li>
                </ul>
              </li>
              <li class="menu-item menu-item-has-children menu-last">
                <a class="v-stroke" href="#" data-i18n="[html]header.support"></a>
                <div class="sub-menu megamenu">
                  <div class="container">
                    <div class="row">
                      <div class="service-list col-md-9 bg-colorstyle">
                        <div class="row">
                          <div class="col-4 service">
                            <div class="media-left">
                              <img class="svg" src="fonts/svg/bookmark.svg" alt="Knowledgebase">
                            </div>
                            <div class="media-body">
                              <a class="menu-item mergecolor" href="knowledgebase-list" data-i18n="[html]submenu.knowlist"> </a>
                              <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <img class="svg" src="fonts/svg/book.svg" alt="Knowledgebase">
                            </div>
                            <div class="media-body">
                              <a class="menu-item mergecolor" href="knowledgebase-article" data-i18n="[html]submenu.knowarticle"> </a>
                              <p class="seccolor">Eaque ipsa quae ab illo inventore veritatis et quasi</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <img class="svg" src="fonts/svg/emailopen.svg" alt="Knowledgebase">
                            </div>
                            <div class="media-body">
                              <a class="menu-item mergecolor" href="contact" data-i18n="[html]submenu.contact"> </a>
                              <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <img class="svg" src="fonts/svg/compare.svg" alt="Knowledgebase">
                            </div>
                            <div class="media-body">
                              <a class="menu-item mergecolor" href="legal" data-i18n="[html]submenu.legal"> </a>
                              <div class="badge inside bg-grey ms-1">NEW</div>
                              <p class="seccolor">Eaque ipsa quae ab illo inventore veritatis et quasi</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <img class="svg" src="fonts/svg/blog.svg" alt="Knowledgebase">
                            </div>
                            <div class="media-body">
                              <div>
                                <a class="menu-item mergecolor" href="blog-details" data-i18n="[html]submenu.blogdetails"> </a>
                                <div class="badge inside bg-pink ms-1">HOT</div>
                              </div>
                              <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                            </div>
                          </div>
                          <div class="col-4 service">
                            <div class="media-left">
                              <img class="svg" src="fonts/svg/question.svg" alt="Knowledgebase">
                            </div>
                            <div class="media-body">
                              <a class="menu-item mergecolor" href="faq" data-i18n="[html]submenu.faq"> </a>
                              <p class="seccolor">Eaque ipsa quae ab illo inventore veritatis et quasi</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="start-offer col-md-3">
                        <div class="inner">
                          <h4 class="title my-3">Support Premium</h4>
                          <div class="inner-content"><span>Call us:</span> <b>+ (123) 1300-656-1046</b> HeadQuarters - No.01 - 399-0 Lorem Street City Melbourne</div>
                          <a href="contact" class="btn btn-default-yellow-fill mt-4">Contact Us</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="menu-item">
                <a class="pe-0 me-0" href="login"> <div class="btn btn-default-yellow-fill question"><span data-i18n="[html]header.login"></span> <i class="fas fa-lock ps-1"></i> </div></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** NAV MENU MOBILE ****** -->
<div class="menu-wrap mobile">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a href="index"><img class="svg logo-menu d-block" src="img/logo.svg" alt="logo Antler"></a>
        <a href="index"><img class="svg logo-menu d-none" src="img/logo-light.svg" alt="logo Antler"></a>
      </div>
      <div class="col-6">
        <nav class="nav-menu">
          <button id="nav-toggle" class="menu-toggle">
            <span class="icon"></span>
            <span class="icon"></span>
            <span class="icon"></span>
          </button>
          <div class="main-menu bg-seccolorstyle">
            <div class="menu-item">
              <a class="mergecolor" href="#" data-bs-toggle="dropdown">Home <div class="badge bg-purple">NEW</div></a>
              <div class="dropdown-menu">
                <a class="dropdown-item menu-item" href="index">Home Default</a>
                <a class="dropdown-item menu-item" href="homevideo">Home Video</a>
                <a class="dropdown-item menu-item" href="homeimage">Home Image</a>
                <a class="dropdown-item menu-item" href="homegaming">Home Gaming <div class="badge inside bg-purple ms-2">NEW</div></a>
                <a class="dropdown-item menu-item" href="home3d">Home 3D <div class="badge inside bg-purple ms-2">NEW</div></a>
                <a class="dropdown-item menu-item" href="http://inebur.com/whmcs/?systpl=antler-rtl&language=arabic" target="_blank">WHMCS (RTL) 
                  <div class="badge inside bg-pink ms-2">HOT</div></a>
              </div>
            </div>
            <div class="menu-item">
              <a class="mergecolor" href="#" data-bs-toggle="dropdown">Hosting <div class="badge bg-purple">PRO</div></a>
              <div class="dropdown-menu">
                <a class="dropdown-item menu-item" href="hosting">Shared Hosting</a>
                <a class="dropdown-item menu-item" href="reseller">Cloud Reseller</a>
                <a class="dropdown-item menu-item" href="dedicated">Dedicated Server</a>
                <a class="dropdown-item menu-item" href="vps">Cloud VPS</a>
                <a class="dropdown-item menu-item" href="wordpress">WordPress Hosting</a>
                <a class="dropdown-item menu-item" href="domains">Domain Names</a>
                <a class="dropdown-item menu-item" href="developer">Developer Hosting</a>
              </div>
            </div>
            <div class="menu-item">
              <a class="mergecolor" href="#" data-bs-toggle="dropdown">Pages</a>
              <div class="dropdown-menu">
                <a class="dropdown-item menu-item" href="emailsecurity">Email Security</a>
                <a class="dropdown-item menu-item" href="ssl">SSL Certificates</a>
                <a class="dropdown-item menu-item" href="email">Enterprise Email</a>
                <a class="dropdown-item menu-item" href="magento">Magento Pro</a>
                <a class="dropdown-item menu-item" href="gsuite"> Suite - Google</a>
                <a class="dropdown-item menu-item" href="iptv">IPTV System</a>
                <a class="dropdown-item menu-item" href="ddos">DDoS Protection</a>
                <a class="dropdown-item menu-item" href="datacenter">Datacenter <div class="badge inside bg-grey ms-2">TOP</div></a>
                <a class="dropdown-item menu-item" href="about">About Us</a>
                <a class="dropdown-item menu-item" href="database">Database-as-a-Service</a>
                <a class="dropdown-item menu-item" href="elements">Elements</a>
                <a class="dropdown-item menu-item" href="voip">Virtual Numbers</a>
                <a class="dropdown-item menu-item" href="voice">Voice Server <div class="badge inside bg-pink ms-2">NEW</div></a>
                <a class="dropdown-item menu-item" href="payments">Payment Methods <div class="badge inside bg-pink ms-2">NEW</div></a>
                <a class="dropdown-item menu-item" href="configurator">Configurator <div class="badge inside bg-grey ms-2">HOT</div></a>
                <a class="dropdown-item menu-item" href="cart">Cart</a>
                <a class="dropdown-item menu-item" href="checkout">Checkout</a>
                <a class="dropdown-item menu-item" href="soon">Coming Soon</a>
                <a class="dropdown-item menu-item" href="promos">Promotions</a>
                <a class="dropdown-item menu-item" href="blackfriday">Blackfriday <div class="badge inside bg-pink ms-2">HOT</div></a>
              </div>
            </div>
            <div class="menu-item">
              <a class="mergecolor" href="#" data-bs-toggle="dropdown">Features</a>
              <div class="dropdown-menu">
                <a class="dropdown-item menu-item" href="http://inebur.com/whmcs/?systpl=antler" target="_blank">WHMCS Template <div class="badge inside bg-pink">HOT</div></a>
                <a class="dropdown-item menu-item" href="http://inebur.com/whmcs/cart.php?carttpl=antler&systpl=antler" target="_blank">Order Form Template <div class="badge inside bg-grey">TOP</div></a>
                <a class="dropdown-item menu-item" href="http://inebur.com/antler/email/" target="_blank">HMCS Email Template <div class="badge inside bg-grey">TOP</div></a>
                <a class="dropdown-item menu-item" href="http://inebur.com/antler/newsletter/" target="_blank">WHMCS Newsletter Template <div class="badge inside bg-grey">TOP</div></a>
                <a class="dropdown-item menu-item" href="pricing">Pricing Options</a>
                <a class="dropdown-item menu-item" href="sliders">Content Sliders</a>
                <a class="dropdown-item menu-item" href="configurator">Configurator</a>
                <a class="dropdown-item menu-item" href="404">404 Error</a>
                <a class="dropdown-item menu-item" href="login">Register</a>
                <a class="dropdown-item menu-item" href="login">Client Area</a>
                <a class="dropdown-item menu-item" href="elements">Elements</a>
                <a class="dropdown-item menu-item" href="sections">Sections</a>
              </div>
            </div>
            <div class="menu-item menu-last">
              <a class="mergecolor" href="#" data-bs-toggle="dropdown">Support</a>
              <div class="dropdown-menu">
                <a class="dropdown-item menu-item" href="knowledgebase-list">Knowlege List</a>
                <a class="dropdown-item menu-item" href="knowledgebase-article">Knowlege Article</a>
                <a class="dropdown-item menu-item" href="contact">Contact Us</a>
                <a class="dropdown-item menu-item" href="legal">Legal</a>
                <a class="dropdown-item menu-item" href="blog-details">Blog</a>
                <a class="dropdown-item menu-item" href="faq">Faq</a>
              </div>
            </div>
            <div class="float-start w-100 mt-3">
              <p class="c-grey-light seccolor"> <small> Phone: + (123) 1300-656-1046</small> </p>
              <p class="c-grey-light seccolor"><small>Email: antler@mail.com</small> </p>
            </div>
            <div>
              <a href="login"><div class="btn btn-default-yellow-fill mt-3">CLIENT AREA</div></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- ***** TRANSLATION ****** -->
<section id="drop-lng" class="btn-group btn-group-toggle toplang">
  <label data-lng="en-US" for="option1" class="btn btn-secondary me-2">
    <input type="radio" name="options" id="option1" checked> EN
  </label>
  <label data-lng="pt-PT" for="option2" class="btn btn-secondary">
    <input type="radio" name="options" id="option2"> PT
  </label>
</section>
<!-- Javascript -->
<script>
$("#nav-toggle").click(function(){
$(".menu-wrap.mobile, .menu-toggle").toggleClass("active");
});
</script>
</html>