<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="css/owl.carousel.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
    <header id="header"> </header>
    <!-- ***** SLIDER ***** -->
    <section id="owl-demo" class="owl-carousel owl-theme owl-loaded owl-drag">
      <div class="full h-100 item11 overlay">
        <div class="vc-parent">
          <div class="vc-child">
            <div class="top-banner">
              <div class="container">
                <img class="svg custom-element-right" src="patterns/voip.svg" alt="Cloud VPS Server">
                <h1 class="heading">Virtual <br>Numbers</h1>
                <div class="included">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="lh-lg">
                        <li><i class="fas fa-check-circle"></i> Buy toll free numbers fast</li>
                        <li><i class="fas fa-check-circle"></i> 20+ VOIP number features included </li>
                        <li><i class="fas fa-check-circle"></i> Toll free phone forwarding to any location</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <a href="voip" class="btn btn-default-yellow-fill me-3 mt-3">Get Prices</a>
                <a href="voip" class="btn btn-default-pink-fill mt-3">Learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="full h-100 item10 overlay animateme" data-when="exit" data-from="0" data-to="0.75" data-opacity="1" data-translatey="-100">
        <div class="vc-parent">
          <div class="vc-child">
            <div class="top-banner">
              <div class="container">
                <img class="svg custom-element-right" src="patterns/iptvdevices.svg" alt="Domains">
                <div class="col-sm-12 col-md-6">
                  <h1 class="heading">IPTV <br>Premium <br>Services</h1>
                  <h3 class="subheading">Sport, cinema, series, youth, discovery and more. We have gathered all the programs you love. 
                    <b class="c-pink">Subscribe now for only $9.99/yr</b>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** PRICING TABLES ***** -->
    <section class="pricing special sec-up-slider bg-colorstyle nopadding specialposition">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper first text-start noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/cloudfiber.svg" alt="">
                <div class="title">Shared Hosting</div>
                <div class="fromer seccolor">Starting at:</div>
                <div class="price mergecolor"><sup>$</sup>8.19 <span class="period">/month</span></div>
                <a href="hosting" class="btn btn-default-yellow-fill">All plans</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>250GB SSD</span></li>
                <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>1TB Bandwidth</span></li>
                <li><i class="icon-emailopen"></i> <span class="c-purple">EMAIL</span><br> <span>120 Emails</span></li>
                <li><i class="icon-domains"></i> <span class="c-purple">TLD</span><br> <span>30 Domains</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper text-start noshadow">
              <div class="plans badge feat bg-pink">recommended</div>
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/dedicated.svg" alt="">
                <div class="title">Dedicated Server</div>
                <div class="fromer seccolor">annually get (20% discount)</div>
                <div class="price mergecolor"><sup>$</sup>82.00 <span class="period">/month</span></div>
                <a href="configurator" class="btn btn-default-yellow-fill">Configure</a>
              </div>
              <ul class="list-info bg-purple">
                <li><i class="icon-cpu"></i> <span class="c-pink">CPU</span><br> <span>4x 3.20Ghz 2 Cores</span></li>
                <li><i class="icon-ram"></i> <span class="c-pink">RAM</span><br> <span>16GB (up to 32GB)</span></li>
                <li><i class="icon-drivessd"></i> <span class="c-pink">DRIVES</span><br> <span>2 x 1TB SATA 3.5</span></li>
                <li><i class="icon-git"></i> <span class="c-pink">UPLINK</span><br> <span>1Gbps - 20TB</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper third text-start noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/vps.svg" alt="">
                <div class="title">Cloud VPS</div>
                <div class="fromer seccolor">Starting at:</div>
                <div class="price mergecolor"><sup>$</sup>9.99 <span class="period">/month</span></div>
                <a href="vps" class="btn btn-default-yellow-fill">All plans</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-cpu"></i> <span class="c-purple">CPU</span><br> <span>2 Cores</span></li>
                <li><i class="icon-ram"></i> <span class="c-purple">RAM</span><br> <span>2GB Memory</span></li>
                <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>20GB SSD Space</span></li>
                <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>1TB Bandwidth</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <img class="blobleft svg d-none" src="img/background/blob.svg" alt="Blob Background">
    <!-- ***** LOAD BALANCING ***** -->
    <section class="balancing sec-normal pb-80 bg-white bg-colorstyle">
      <div class="h-services">
        <div class="container">
          <div class="randomline">
            <div class="bigline"></div>
            <div class="smallline"></div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="section-heading mergecolor">Cloud Load Balancing</h2>
              <p class="section-subheading mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-md-12">
              <div class="wrap-service load">
                <div class="wow animated fadeInUp fast">
                  <img class="svg mt-50 w-100 ltr-img d-block" src="patterns/balancing.svg" alt="Load Balancing">
                  <img class="svg mt-50 w-100 rtl-img d-none" src="patterns/balancing-rtl.svg" alt="Load Balancing">
                </div>
                <div class="row text-info text-center">
                  <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[1] Users</b> <br>
                    <span class="info seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</span>
                  </div>
                  <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[2] Load Balancing</b> <br>
                    <span class="info seccolor">Eaque ipsa quae ab illo inventore veritatis et quasi. Eaque ipsa quae omnis iste</span>
                  </div>
                  <div class="col-md-4 pb-2 pt-5"><b class="c-purple">[3] Cloud Servers</b> <br>
                    <span class="info seccolor">Omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <svg class="division-ontop bg-white d-none" viewBox="0 0 1440 150">
      <path fill="#fdd700" fill-opacity="1" d="M0,96L120,85.3C240,75,480,53,720,53.3C960,53,1200,75,1320,85.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>

    <!-- ***** FEATURES ***** -->
    <section class="services sec-normal sec-bg4 exapath">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Why Choose Antler?</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4 wow animated fadeInUp fast">
              <div class="service-section bg-colorstyle noshadow">
                <div class="plans badge feat bg-pink">Premium</div>
                <img class="svg" src="fonts/svg/helpdesk.svg" alt="">
                <div class="title mergecolor">Support 24x7x365</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-yellow-fill">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 wow animated fadeInUp">
              <div class="service-section bg-colorstyle noshadow">
                <div class="plans badge feat bg-pink">Control Panel</div>
                <img class="svg" src="fonts/svg/window.svg" alt="">
                <div class="title mergecolor">Free WHM &amp; cPanel</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident dolor
                </p>
                <a href="" class="btn btn-default-yellow-fill">Read more</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 wow animated fadeInUp fast">
              <div class="service-section bg-colorstyle noshadow">
                <img class="svg" src="fonts/svg/cloudmanaged.svg" alt="">
                <div class="title mergecolor">Perfomance Optimized</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate
                </p>
                <a href="" class="btn btn-default-yellow-fill">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** MAP ***** -->
    <section class="services maping sec-normal item17 overlay bg-colorstyle">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading text-white">Our Datacenters are Located in 7 Regions</h2>
              <p class="section-subheading text-white"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
            </div>
            <div class="col-md-12 pt-5 scrollme position-relative">
              <img src="patterns/map.svg" class="lazyload w-10 animateme" alt="Load Balancing" data-when="view" data-from="1" data-to="0" data-opacity="0">
              <span class="datacenters montreal" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Montreal" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters newyork" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="New York" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." ></span>
              <span class="datacenters portugal"  data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Portugal" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters london" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="London" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters moskow" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Moskow"  data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters hongkong" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Hong Kong" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters singapure" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Singapure" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** CONTACT FORM ***** -->
    <section id="ticket" class="bg-colorstyle toppadding bottomhalfpadding">
      <div class="container">
        <div class="sec-main sec-up mb-0 sec-bg1 bg-colorstyle nomargin nopadding noshadow">
          <div class="randomline hideelement">
            <div class="bigline"></div>
            <div class="smallline"></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 cd-filter-block mb-0">
              <div class="form-contact cd-filter-content p-0 sec-bx">
                <div class="text-center">
                  <h2 class="section-heading mergecolor">Full out the Contact form to contact us</h2>
                  <p class="mergecolor">We Will Help You To Choose The Best Plan!</p>
                </div>
                <form id="contactForm" method="POST">
                  <div class="row">
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-user-tie"></i></label>
                      <input id="name" type="text" name="name" placeholder="Full Name" required="">
                    </div>
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-envelope"></i></label>
                      <input id="email" type="email" name="email" placeholder="Email Address" required="">
                    </div>
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-file-alt"></i></label>
                      <input id="subject" type="text" name="subject" placeholder="Subject" required>
                    </div>
                    <div class="col-md-6 position-relative">
                      <div class="cd-select mt-4">
                        <label class="db"></label>
                        <select id="department" name="department" class="select-filter">
                          <option value="">Choose Department</option>
                          <option value="Support/Help Desk">Support/Help Desk</option>
                          <option value="Commercial Department">Commercial Department</option>
                          <option value="Sales Department">Sales Department</option>
                          <option value="Schedule Metings">Schedule Metings</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 position-relative">
                      <div class="form-group mt-4">
                        <textarea id="message" name="message" class="form-control" rows="5" placeholder="Message..."></textarea>
                      </div>
                    </div>
                    <div class="col-md-6 position-relative mt-5">
                      <input name="newsletter" type="checkbox" id="checkbox" class="filter">
                      <label for="checkbox" class="checkbox-label c-grey mb-4 seccolor" ><span>I have read and accept the terms of the privacy policy - <a href="legal" class="golink">RGPD</a></span></label>
                      <button type="submit" value="Submit" class="btn btn-default-yellow-fill float-start me-3">Submit Ticket</button>
                      <button type="reset" value="reset" class="btn btn-default-fill mt-0 mb-3 me-3">Reset</button><br>
                    </div>
                    <div id="msgSubmit" class="col-md-12 mt-4">
                      <h3 class="c-pink"> Message Submitted!</h3>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** HELP ***** -->
    <section class="services help pt-4 pb-80 notoppadding bg-colorstyle">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="help-container bg-seccolorstyle noshadow">
                <a href="javascript:void(Tawk_API.toggle())" class="help-item">
                  <div class="img">
                    <img class="svg ico" src="fonts/svg/livechat.svg" height="65" alt="">
                  </div>
                  <div class="inform">
                    <div class="title mergecolor">Live Chat</div>
                    <div class="description seccolor">Lorem Ipsum is simply dummy text printing.</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="help-container bg-seccolorstyle noshadow">
                <a href="contact.html" class="help-item">
                  <div class="img">
                    <img class="svg ico" src="fonts/svg/emailopen.svg" height="65" alt="">
                  </div>
                  <div class="inform">
                    <div class="title mergecolor">Send Ticket</div>
                    <div class="description seccolor">Lorem Ipsum is simply dummy text printing.</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="help-container bg-seccolorstyle noshadow">
                <a href="knowledgebase.html" class="help-item">
                  <div class="img">
                    <img class="svg ico" src="fonts/svg/book.svg" height="65" alt="">
                  </div>
                  <div class="inform">
                    <div class="title mergecolor">Knowledge base</div>
                    <div class="description seccolor">Lorem Ipsum is simply dummy text printing.</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/jquery.scrollme.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script async src="js/lazysizes.min.js"></script>
<script defer src="js/scripts.min.js"></script>
<script defer src="js/settings-init.js"></script>
</body>
</html>