<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="css/owl.carousel.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/swiper.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/magnific-popup.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/animate.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- UPLOADED MENU FROM HEADER.HTML -->
    <header id="header"> </header>
    <!-- BANNER -->
    <div class="top-header overlay item13">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="wrapper">
              <div class="heading">Ark Survival Evolved</div>
              <h3 class="subheding fw-normal lh-32">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.<span class="c-pink"> Neque porro quisquam est, qui dolorem.</span>
              </h3>
              <a href="#" class="btn btn-default-pink-fill mt-4 mb-5 me-3">Configure Server <i class="fas fa-cog ps-1"></i></a>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="services classic">
              <div class="service-wrap">
                <div class="service-section text-center mt-0 bg-rgba5">
                  <img src="img/logos/ark.png" class="w-50 d-inline-block" alt="Provisioning">
                  <div class="price-content">
                    <h3 class="price text-white">
                      <sup class="coin">$</sup>
                      <span class="value">24.98</span>
                      <small>/</small><span class="period annually">mo</span>
                    </h3>
                  </div>
                  <a href="#" class="btn btn-default-yellow-fill mt-4">Order Now <i class="fas fa-cart-plus ps-1 f-15"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 services help pt-0">
            <div class="service-wrap">
              <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="help-container bg-rgba5">
                    <a class="help-item dark">
                      <div class="img">
                        <img class="svg ico" src="fonts/svg/managedserver.svg" height="65" alt="CentOS">
                      </div>
                      <div class="inform">
                        <div class="title text-white">Instant Provision</div>
                        <div class="description text-muted">At vero eos et accusamus et iusto odio dignissimos</div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="help-container bg-rgba5">
                    <a class="help-item dark">
                      <div class="img">
                        <img class="svg ico" src="fonts/svg/protection.svg" height="65" alt="CoreOS">
                      </div>
                      <div class="inform">
                        <div class="title text-white">Anti DDoS</div>
                        <div class="description text-muted">But I must explain to you how all this mistaken idea</div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                  <div class="help-container bg-rgba5">
                    <a class="help-item dark">
                      <div class="img">
                        <img class="svg ico" src="fonts/svg/helpdesk.svg" height="65" alt="Debian">
                      </div>
                      <div class="inform">
                        <div class="title text-white">Support Premium</div>
                        <div class="description text-muted">On the other hand, we denounce with righteous</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** PRICING TABLES ***** -->
    <section id="games" class="pricing special sec-normal bg-colorstyle nobottompadding specialposition">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-heading mergecolor">Choose from over 3 different games</h2>
            <p class="section-subheading mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="refing">
              <div class="col item14 h-100 b-radius15 position-relative">
                <div class="gametitle">
                  <strong>COUNTER STRIKE</strong>
                  <div class="price-content">
                    <h3 class="price c-grey-light">
                      <sup class="coin">$</sup>
                      <span class="value">24.98</span>
                      <small>/</small><span class="period annually">mo</span>
                    </h3>
                  </div>
                  <div class="button"><a href="#" class="btn btn-default-pink-fill">Learn More <i class="fas fa-long-arrow-alt-right ms-2"></i></a></div>
                </div>
                <div class="hoverbg"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="refing">
              <div class="col item15 h-100 position-relative">
                <div class="gametitle">
                  <strong>RUST</strong>
                    <h3 class="price c-grey-light">
                      <sup class="coin">$</sup>
                      <span class="value">32.00</span>
                      <small>/</small><span class="period annually">mo</span>
                    </h3>
                  <div class="button"><a href="#" class="btn btn-default-pink-fill">Learn More <i class="fas fa-long-arrow-alt-right ms-2"></i></a></div>
                </div>
                <div class="hoverbg"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="refing">
              <div class="col item16 h-100 position-relative">
                <div class="gametitle">
                  <strong>MINECRAFT</strong>
                    <h3 class="price c-grey-light">
                      <sup class="coin">$</sup>
                      <span class="value">48.15</span>
                      <small>/</small><span class="period annually">mo</span>
                    </h3>
                  <div class="button"><a href="#" class="btn btn-default-pink-fill">Learn More <i class="fas fa-long-arrow-alt-right ms-2"></i></a></div>
                </div>
                <div class="hoverbg"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <img class="blobleft svg d-none" src="img/background/blob.svg" alt="Blob Background">
    <!-- ***** BALANCING ***** -->
    <section class="balancing sec-normal sec-bg3 motpath-w motpath noimage bg-colorstyle">
      <div class="h-services">
        <div class="container">
          <div class="randomline">
            <div class="bigline"></div>
            <div class="smallline"></div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="section-heading text-white mergecolor">Robust infrastructure and high performance</h2>
              <p class="section-subheading text-muted mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-md-12">
              <div class="wrap-service load">
                <div class="wow animated fadeInUp fast">
                  <img class="svg mt-50 w-100 ltr-img d-block" src="patterns/balancing.svg" alt="Load Balancing">
                  <img class="svg mt-50 w-100 rtl-img d-none" src="patterns/balancing-rtl.svg" alt="Load Balancing">
                </div>
                <div class="row text-info text-center">
                  <div class="col-md-4 pb-2 pt-5"><b class="c-pink">[1] Users</b> <br>
                    <span class="info text-muted seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</span>
                  </div>
                  <div class="col-md-4 pb-2 pt-5"><b class="c-pink">[2] Load Balancing</b> <br>
                    <span class="info text-muted seccolor">Eaque ipsa quae ab illo inventore veritatis et quasi. Eaque ipsa quae omnis iste</span>
                  </div>
                  <div class="col-md-4 pb-2 pt-5"><b class="c-pink">[3] Cloud Servers</b> <br>
                    <span class="info text-muted seccolor">Omnis iste natus error sit voluptatem accusantium doloremque laudantium.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- GALLERIES -->
    <section class="services sec-normal history-section sec-bg1 bg-seccolorstyle">
      <div class="container">
        <div class="popup-gallery">
          <div class="col-sm-12 text-center">
            <h2 class="section-heading mergecolor">Amazing Games Control Panel</h2>
            <p class="section-subheading mergecolor">Eaque ipsa quae ab illo inventore veritatis et quasi. Eaque ipsa quae omnis iste</p>
          </div>
          <div class="row mt-5">
            <div class="col-sm-12 col-md-12 col-lg-7">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a href="img/topbanner01.jpg" class="image-link" title="Caption text example 01">
                      <img src="img/topbanner01.jpg" class="d-block w-100 pb-5" alt="First slide">
                      <div class="zoo-content">
                        <div class="icoo">
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a href="img/topbanner02.jpg" class="image-link" title="Caption text example 02">
                      <img src="img/topbanner02.jpg" class="d-block w-100 pb-5" alt="Second slide">
                      <div class="zoo-content">
                        <div class="icoo">
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="carousel-item">
                    <a href="img/topbanner03.jpg" class="image-link" title="Caption text example 03">
                      <img src="img/topbanner03.jpg" class="d-block w-100 pb-5"  alt="Third slide">
                      <div class="zoo-content">
                        <div class="icoo">
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1"></div>
            <div class="col-sm-12 col-md-12 col-lg-4 text-start">
              <div class="mb-5 agpanel">
                <img class="svg pe-2" src="fonts/svg/settings.svg" alt="Config">
                <h5 class="mergecolor"> Easy Configuration</h5>
                <p class="f-15 lh-32 text-muted seccolor">Lorem ipsum dolor sit amet.</p>
              </div>
              <div class="mb-5 agpanel">
                <img class="svg pe-2" src="fonts/svg/meeting.svg" alt="Users">
                <h5 class="mergecolor">Sub Users</h5>
                <p class="f-15 lh-32 text-muted seccolor">Eaque ipsa quae ab illo inventore.</p>
              </div>
              <div class="mb-4 agpanel">
                <img class="svg pe-2" src="fonts/svg/window.svg" alt="Game Panel">
                <h5 class="mergecolor">Game Panel Demo</h5>
                <p class="f-15 lh-32 text-muted seccolor">Omnis iste natus error sit voluptatem.</p>
              </div>
              <a href="#" class="btn btn-default-grad-purple-fill mt-3">Login Game Panel</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** MAP ***** -->
    <section class="services maping sec-normal sec-bg3 bg-colorstyle">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading text-white mergecolor">Our Datacenters are Located in 7 Regions</h2>
              <p class="section-subheading text-muted mergecolor"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
            </div>
            <div class="col-md-12 col-lg-7 pt-5 scrollme position-relative">
              <img src="patterns/map.svg" class="lazyload w-10 animateme" alt="Load Balancing" data-when="view" data-from="1" data-to="0" data-opacity="0">
              <span class="datacenters montreal" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Montreal" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters newyork" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="New York" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." ></span>
              <span class="datacenters portugal"  data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Portugal" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters london" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="London" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters moskow" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Moskow"  data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters hongkong" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Hong Kong" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters singapure" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Singapure" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1"></div>
            <div class="col-sm-12 col-md-12 col-lg-4 pt-5 text-start">
              <div class="mb-5 agpanel pt-3 ps-0">
                <h4 class="text-white mb-4 mergecolor"><b> 7 Global Datacenters</b></h4>
                <p class="lh-32 text-muted seccolor">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa <span class="c-pink">doloremque laudantium,</span> totam rem aperiam, eaque.</p>
                <p class="f-15 lh-32 text-muted seccolor">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis.</p>
                <a href="#" class="btn btn-default-grad-purple-fill mt-3">Datacenter</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** CONTACT FORM ***** -->
  <section id="ticket" class="exapath pb-80 noimage bg-seccolorstyle toppadding bottompadding">
    <div class="container">
      <div class="sec-main sec-up mb-0 sec-bg1 bg-seccolorstyle nomargin nopadding noshadow">
        <div class="randomline hideelement">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 cd-filter-block mb-0">
            <div class="form-contact cd-filter-content p-0 sec-bx">
              <div class="text-center">
                <h2 class="section-heading mergecolor">Full out the Contact form to contact us</h2>
                <p class="section-subheading mergecolor">We Will Help You To Choose The Best Plan!</p>
              </div>
              <form id="contactForm" method="POST">
                <div class="row">
                  <div class="col-md-6 position-relative">
                    <label><i class="fas fa-user-tie"></i></label>
                    <input id="name" type="text" name="name" placeholder="Full Name" required="">
                  </div>
                  <div class="col-md-6 position-relative">
                    <label><i class="fas fa-envelope"></i></label>
                    <input id="email" type="email" name="email" placeholder="Email Address" required="">
                  </div>
                  <div class="col-md-6 position-relative">
                    <label><i class="fas fa-file-alt"></i></label>
                    <input id="subject" type="text" name="subject" placeholder="Subject" required>
                  </div>
                  <div class="col-md-6 position-relative">
                    <div class="cd-select mt-4">
                      <label class="db"></label>
                      <select id="department" name="department" class="select-filter">
                        <option value="">Choose Department</option>
                        <option value="Support/Help Desk">Support/Help Desk</option>
                        <option value="Commercial Department">Commercial Department</option>
                        <option value="Sales Department">Sales Department</option>
                        <option value="Schedule Metings">Schedule Metings</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 position-relative">
                    <div class="form-group mt-4">
                      <textarea id="message" name="message" class="form-control" rows="5" placeholder="Message..."></textarea>
                    </div>
                  </div>
                  <div class="col-md-6 position-relative mt-5">
                    <input name="newsletter" type="checkbox" id="checkbox" class="filter">
                    <label for="checkbox" class="checkbox-label c-grey mb-4 seccolor" ><span>I have read and accept the terms of the privacy policy - <a href="legal" class="golink">RGPD</a></span></label>
                    <button type="submit" value="Submit" class="btn btn-default-yellow-fill float-start me-3">Submit Ticket</button>
                    <button type="reset" value="reset" class="btn btn-default-fill mt-0 mb-3 me-3">Reset</button><br>
                  </div>
                  <div id="msgSubmit" class="col-md-12 mt-4">
                    <h3 class="c-pink"> Message Submitted!</h3>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** FAQ ***** -->
  <section class="sec-normal sec-grad-yellow-to-black-right bg-colorstyle bottomhalfpadding">
    <div class="faq">
      <div class="container">
        <img class="blobright svg d-none" src="img/background/blob.svg" alt="Blob Background">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center">
            <h2 class="section-heading text-white mergecolor">Frequently Asked Questions Hosting</h2>
            <p class="section-subheading text-muted mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
          </div>
          <div class="col-sm-12">
            <div class="accordion faq pt-5">
              <div class="panel-wrap">
                <div class="panel-title text-muted seccolor active">
                  <span>How long before my server is online?</span>
                  <div class="float-end">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse" style="display: block;">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list text-muted seccolor"><li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li></ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title text-muted seccolor">
                  <span>Can I just rent the server for one month?</span>
                  <div class="float-end">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list text-muted seccolor">
                        <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li></ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-wrap">
                  <div class="panel-title text-muted seccolor">
                    <span>Can I install plugin APIs (Oxide, ARK API, etc.)?</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list text-muted seccolor"><li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-wrap">
                <div class="panel-title text-muted seccolor">
                  <span>What hardware will host my server?</span>
                  <div class="float-end">
                    <i class="fa fa-plus"></i>
                    <i class="fa fa-minus c-pink"></i>
                  </div>
                </div>
                <div class="panel-collapse">
                  <div class="wrapper-collapse">
                    <div class="info">
                      <ul class="list text-muted seccolor"><li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p><p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** HELP ***** -->
  <section class="services help pt-4 pb-80 bg-colorstyle notoppadding">
    <div class="container">
      <div class="service-wrap">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container bg-seccolorstyle noshadow">
              <a href="javascript:void(Tawk_API.toggle())" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/livechat.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title mergecolor">Live Chat</div>
                  <div class="description seccolor">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container bg-seccolorstyle noshadow">
              <a href="contact.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/emailopen.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title mergecolor">Send Ticket</div>
                  <div class="description seccolor">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="help-container bg-seccolorstyle noshadow">
              <a href="knowledgebase.html" class="help-item">
                <div class="img">
                  <img class="svg ico" src="fonts/svg/book.svg" height="65" alt="">
                </div>
                <div class="inform">
                  <div class="title mergecolor">Knowledge base</div>
                  <div class="description seccolor">Lorem Ipsum is simply dummy text printing.</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
  <footer id="footer"> </footer>
  </div>
    <!-- ***** BUTTON GO TOP ***** -->
    <a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
    <!-- Javascript -->
    <script src="js/jquery.min.js"></script>
    <script defer src="js/popper.min.js"></script>
    <script defer src="js/bootstrap.min.js"></script>
    <script defer src="js/jquery.countdown.js"></script>
    <script defer src="js/jquery.magnific-popup.min.js"></script>
    <script defer src="js/slick.min.js"></script>
    <script defer src="js/owl.carousel.min.js"></script>
    <script defer src="js/isotope.min.js"></script>
    <script defer src="js/jquery.scrollme.min.js"></script>
    <script defer src="js/swiper.min.js"></script>
    <script async src="js/lazysizes.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script defer src="js/scripts.min.js"></script>
    <script defer src="js/settings-init.js"></script>
  </body>
</html>