<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="css/animate.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
    <header id="header"> </header>
    <!-- ***** SLIDER ***** -->
    <div class="top-header item10 overlay scrollme">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="wrapper animateme" data-when="span" data-from="0" data-to="0.75" data-opacity="1" data-translatey="-50">
              <h1 class="heading">IPTV Premium Services</h1>
              <h3 class="subheading mb-0">Sport, cinema, series, to entertainment, youth, discovery and more. We have gathered all the programs you love.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** SUBSCRIBE ***** -->
    <section class="getready sec-grad-yellow-to-black-right">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="column-support-txt">
              <div class="column-support-title mergecolor">Subscribe now your IPTV</div>
              <div class="column-support-subtitle mergecolor">Our iptv service works on smart TV and all Android and iOS devices.</div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="btn-floats">
              <a class="btn btn-default-yellow-fill me-3">Subscribe Now</a>
              <a href="contact.html" class="btn btn-default-pink-fill">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** PRICING TABLES ***** -->
    <section class="pricing special sec-normal pt-4 promopath bg-colorstyle">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper first text-start wow animated fadeInUp fast noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/monitor.svg" alt="">
                <div class="title">IPTV Starter</div>
                <div class="fromer seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <div class="price mergecolor"><sup>$</sup>9.99 <span class="period">/year</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-calendar"></i> <span class="c-purple">SUBSCRIPTION</span><br> <span>3 Months</span></li>
                <li><i class="icon-hand"></i> <span class="c-purple">CHANNELS</span><br> <span>150 Premium</span></li>
                <li><i class="icon-window"></i> <span class="c-purple">SYSTEM</span><br> <span>IOS & Windows</span></li>
                <li><i class="icon-technology"></i> <span class="c-purple">STREAM</span><br> <span>All Devices</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper text-start wow animated fadeInUp noshadow">
              <div class="plans badge feat bg-pink">most popular</div>
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/monitor.svg" alt="">
                <div class="title">IPTV Pro</div>
                <div class="fromer seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <div class="price mergecolor"><sup>$</sup>18.00 <span class="period">/year</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info bg-purple">
                <li><i class="icon-calendar"></i> <span class="c-pink">SUBSCRIPTION</span><br> <span>6 Months</span></li>
                <li><i class="icon-hand"></i> <span class="c-pink">CHANNELS</span><br> <span>240 Premium</span></li>
                <li><i class="icon-window"></i> <span class="c-pink">SYSTEM</span><br> <span>IOS & Windows</span></li>
                <li><i class="icon-technology"></i> <span class="c-pink">STREAM</span><br> <span>All Devices</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper third text-start wow animated fadeInUp fast noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/monitor.svg" alt="">
                <div class="title">IPTV Enterprise</div>
                <div class="fromer seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                <div class="price mergecolor"><sup>$</sup>42.19 <span class="period">/year</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-calendar"></i> <span class="c-purple">SUBSCRIPTION</span><br> <span>12 Months</span></li>
                <li><i class="icon-hand"></i> <span class="c-purple">CHANNELS</span><br> <span>300 Premium</span></li>
                <li><i class="icon-window"></i> <span class="c-purple">SYSTEM</span><br> <span>IOS & Windows</span></li>
                <li><i class="icon-technology"></i> <span class="c-purple">STREAM</span><br> <span>All Devices</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** FEATURES ***** -->
    <section class="sec-normal history-section sec-bg3 bg-colorstyle">
      <div class="container">
        <div class="sec-main sec-bg1 bg-colorstyle noshadow nopadding">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="info-content">
                <h2 class="mb-4 mergecolor"><b>Full HD Quality Streams</b></h2>
                <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born and I will. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
              <img class="svg" src="patterns/iptv.svg" alt="security" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="info-content">
                <h2 class="mb-4 mergecolor"><b>Work on all devices</b></h2>
                <p class="seccolor">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet, <a href="#" class="golink">consectetur adipiscing elit,</a> sed do eiusmod tempor incididunt.</p>
                <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
              <img class="svg" src="patterns/alldevices.svg" alt="quarantine" >
            </div>
          </div>
        </div>
      </div>
    </section>

    <svg class="division-ontop bg-white d-none" viewBox="0 0 1440 150">
      <path fill="#fdd700" fill-opacity="1" d="M0,96L120,85.3C240,75,480,53,720,53.3C960,53,1200,75,1320,85.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>

    <!-- ***** WHY CHOOSE ANTLER ****** -->
    <section class="services sec-normal exapath sec-bg4 scrollme">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Why get IPTV Services from Antler?</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <img class="svg" src="fonts/svg/hand.svg" alt="">
                <div class="title mergecolor">300+ Premium Channels</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <img class="svg" src="fonts/svg/display.svg" alt="">
                <div class="title mergecolor">7000+ Movies & Series</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <div class="plans badge feat bg-pink">full hd</div>
                <img class="svg" src="fonts/svg/monitor.svg" alt="">
                <div class="title mergecolor">Smart TV Supported</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** CONTACT FORM ***** -->
    <section id="ticket" class="sec-normal bg-colorstyle">
      <div class="container">
        <div class="sec-main mb-0 sec-bg1 nopadding noshadow">
          <div class="randomline hideelement">
            <div class="bigline"></div>
            <div class="smallline"></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 cd-filter-block mb-0">
              <div class="form-contact cd-filter-content p-0 sec-bx bg-colorstyle nopadding initialradius">
                <div class="text-center">
                  <h2 class="section-heading mergecolor">Full out the Contact form to contact us</h2>
                  <p class="seccolor">We Will Help You To Choose The Best Plan!</p>
                </div>
                <form id="contactForm" method="POST">
                  <div class="row">
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-user-tie"></i></label>
                      <input id="name" type="text" name="name" placeholder="Full Name" required="">
                    </div>
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-envelope"></i></label>
                      <input id="email" type="email" name="email" placeholder="Email Address" required="">
                    </div>
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-file-alt"></i></label>
                      <input id="subject" type="text" name="subject" placeholder="Subject" required>
                    </div>
                    <div class="col-md-6 position-relative">
                      <div class="cd-select mt-4">
                        <label class="db"></label>
                        <select id="department" name="department" class="select-filter">
                          <option value="">Choose Department</option>
                          <option value="Support/Help Desk">Support/Help Desk</option>
                          <option value="Commercial Department">Commercial Department</option>
                          <option value="Sales Department">Sales Department</option>
                          <option value="Schedule Metings">Schedule Metings</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 position-relative">
                      <div class="form-group mt-4">
                        <textarea id="message" name="message" class="form-control" rows="5" placeholder="Message..."></textarea>
                      </div>
                    </div>
                    <div class="col-md-6 mt-5 position-relative">
                      <input name="newsletter" type="checkbox" id="checkbox" class="filter">
                      <label for="checkbox" class="checkbox-label c-grey mb-4 seccolor" ><span>I have read and accept the terms of the privacy policy - <a href="legal" class="golink">RGPD</a></span></label>
                      <button type="submit" value="Submit" class="btn btn-default-yellow-fill float-start me-3">Submit Ticket</button>
                      <button type="reset" value="reset" class="btn btn-default-fill mt-0 mb-3 mr-3">Reset</button><br>
                    </div>
                    <div id="msgSubmit" class="col-md-12 mt-4">
                      <h3 class="c-pink"> Message Submitted!</h3>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/jquery.scrollme.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/scripts.min.js"></script>
<script defer src="js/settings-init.js"></script>
</body>
</html>