<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS Styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="css/animate.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
    <header id="header"> </header>
    <!-- ***** SLIDER ***** -->
    <div class="top-header item5 overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="wrapper">
              <h1 class="heading">Magento Ecommerce Solution</h1>
              <h3 class="subheading">Magento eCommerce was carefully designed for Superior Performance.</h3>
              <div id="run-switch" class="run-switch">
                <div class="mo">Monthly Price</div>
                <div class="switch"></div>
                <div class="an active">Anually Price</div>
              </div>
              <div class="included">
                <h4 class="mb-3">All plans include</h4>
                <ul>
                  <li><i class="fas fa-check-circle"></i> cPanel Control Panel</li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> Free Magento 2 Install</li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> Free SSL & SSD</li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> Daily Backup</li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> Powerful SSD Storage</li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> Support Premium 24/7/365</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** FEATURES DIVISION ***** -->
    <a class="gocontent godown gocheck" href="#scroll" >
      <img class="svg" src="fonts/svg/arrowdown.svg" height="80" alt="features">
      <span>Features</span>
    </a>
    <!-- ***** PRICING TABLES ***** -->
    <section class="pricing special sec-uping pb-5 scrollme bg-colorstyle specialposition">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-sm-12 col-md-6 col-lg-4 animateme" data-when="enter" data-from="0" data-to="1" data-opacity="1" data-translatey="-20">
            <div class="wrapper price-container text-start wow animated fadeInUp fast noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/plus.svg" alt="">
                <div class="title">Magento Plus</div>
                <div class="fromer seccolor">Great for small WordPress sites, and for an affordable solution</div>
                <div class="price-content">
                  <div class="price mergecolor">
                    <sup class="coin">$</sup>
                    <span class="value">38.64</span>
                    <small>/</small><span class="period annually">year</span>
                  </div>
                </div>
                <a href="" class="btn btn-default-yellow-fill">Order now</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-global"></i> <span class="c-purple">WEB</span><br> <span>4 Websites</span></li>
                <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>30GB SSD Space</span></li>
                <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>Unmetered Bandwidth</span></li>
                <li><i class="icon-money"></i> <span class="c-purple">FREE</span><br> <span>SSL & Email</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4 animateme" data-when="span" data-from="0" data-to="1" data-opacity="1" data-translatey="50">
            <div class="wrapper price-container text-start wow animated fadeInUp noshadow">
              <div class="plans badge feat bg-pink">best value</div>
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/diamond.svg" alt="">
                <div class="title">Magento Diamond</div>
                <div class="fromer seccolor">Perfect for businesses that expect high performance and Grow</div>
                <div class="price-content">
                  <div class="price mergecolor">
                    <sup class="coin">$</sup>
                    <span class="value">84.00</span>
                    <small>/</small><span class="period annually">year</span>
                  </div>
                </div>
                <a href="" class="btn btn-default-yellow-fill">Order now</a>
              </div>
              <ul class="list-info bg-purple">
                <li><i class="icon-global"></i> <span class="c-pink">WEB</span><br> <span>Unlimited Websites</span></li>
                <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>120GB SSD Space</span></li>
                <li><i class="icon-speed"></i> <span class="c-pink">DATA</span><br> <span>Unmetered Bandwidth</span></li>
                <li><i class="icon-money"></i> <span class="c-pink">FREE</span><br> <span>SSL & Email</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** FEATURES ***** -->
    <section id="scroll" class="history-section feat01 sec-normal pb-3 bg-colorstyle">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="sec-main sec-bg1 bg-colorstyle noshadow nopadding">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="info-content">
                <h1 class="fw-bold mb-3 mergecolor">Free Control Panel</h1>
                <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born</p>
              </div>
              <a href="" class="btn btn-default-yellow-fill mt-3">Check cPanel</a>
            </div>
            <div class="col-md-12 col-lg-5 offset-lg-1 backups anima wow animated fadeInUp fast second">
              <img class="svg" src="patterns/controlpanel.svg" alt="cPanel">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 col-lg-5 wow animated fadeInUp fast first">
              <img class="svg" src="patterns/install.svg" alt="dns redundant">
            </div>
            <div class="col-md-12 col-lg-6 offset-lg-1">
              <div class="info-content">
                <h1 class="fw-bold mb-3 mergecolor">Easy 1-click-installer</h1>
                <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born..</p>
              </div>
              <a href="" class="btn btn-default-yellow-fill mt-3">Softaculous</a>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <div class="info-content">
                <h1 class="fw-bold mb-3 mergecolor">Support & Monitoring 24/7/365</h1>
                <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born.</p>
              </div>
              <a href="" class="btn btn-default-yellow-fill mt-3">Contact us</a>
            </div>
            <div class="col-md-12 col-lg-5 offset-lg-1 backups anima wow animated fadeInUp fast second">
              <img class="svg" src="patterns/monitoring.svg" alt="monitoring 24/7/365">
            </div>
          </div>
        </div>
      </div>
    </section>
    <img class="blobleft svg d-none" src="img/background/blob.svg" alt="Blob Background">
    <!-- ***** HELP ***** -->
    <section class="help pb-80 bg-colorstyle">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="help-container bg-seccolorstyle noshadow">
                <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
                <a href="hosting" class="help-item">
                  <div class="img">
                    <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
                  </div>
                  <div class="inform">
                    <div class="title mergecolor">Go to Shared Hosting</div>
                    <div class="description seccolor">Need similar power but a simpler solution?</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="help-container bg-seccolorstyle noshadow">
                <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
                <a href="dedicated" class="help-item">
                  <div class="img">
                    <img class="svg ico" src="fonts/svg/dedicated.svg" alt="">
                  </div>
                  <div class="inform">
                    <div class="title mergecolor">Go to Dedicated Server</div>
                    <div class="description seccolor">Need more power and resources?</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** MIGRATION ***** -->
    <section class="getready sec-grad-yellow-to-black-right scrollme bg-colorstyle">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="column-support-txt animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatex="-60" data-easeinout="0">
              <div class="column-support-title mergecolor">Already have Magento installed?</div>
              <div class="column-support-subtitle seccolor">Your services in advanced Data Centers and Infrastructures.</div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="btn-floats">
              <a href="contact.html" class="btn btn-default-pink-fill">Migration now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- **** WHY CHOOSE ANTLER ***** -->
    <section class="services sec-normal sec-bg2 bg-seccolorstyle">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading mergecolor">Why choose Antler Plans for your Magento?</h2>
              <p class="section-subheading mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section bg-colorstyle noshadow">
                <div class="plans badge feat bg-pink">Softaculous</div>
                <img class="svg" src="fonts/svg/select.svg" alt="">
                <div class="title mergecolor">Easy 1-click-installer</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section bg-colorstyle noshadow">
                <img class="svg" src="fonts/svg/speed.svg" alt="">
                <div class="title mergecolor">Superfast Websites</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="service-section bg-colorstyle noshadow">
                <div class="plans badge feat bg-pink">Free</div>
                <img class="svg" src="fonts/svg/inverse.svg" alt="">
                <div class="title mergecolor">Website Migrations</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="fullline d-none">
    <!-- ***** FAQ ***** -->
    <section class="sec-normal sec-bg1 bg-seccolorstyle bottomhalfpadding">
      <div class="faq">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <h2 class="section-heading mergecolor">F.A.Q. Magento Hosting Solutions</h2>
              <p class="section-subheading mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12">
              <div class="accordion faq pt-5">
                <div class="panel-wrap">
                  <div class="panel-title mergecolor active">
                    <span>What is Magento Hosting?</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse" style="display:block;">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list seccolor">
                          <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-wrap">
                  <div class="panel-title mergecolor">
                    <span>How to install Magento?</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list seccolor">
                          <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-wrap">
                  <div class="panel-title mergecolor">
                    <span>How much does Magento cost?</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list seccolor">
                          <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-wrap">
                  <div class="panel-title mergecolor">
                    <span>Do I get emails with Magento?</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list seccolor">
                          <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/jquery.scrollme.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script async src="js/lazysizes.min.js"></script>
<script defer src="js/scripts.min.js"></script>
<script defer src="js/settings-init.js"></script>
</body>
</html>