<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
    <header id="header"> </header>
    <!-- ***** BANNER ***** -->
    <div class="top-header scrollme">
      <img class="svg pattern" src="patterns/promo-w.svg" alt="promos">
      <div class="total-grad-grey-inverse"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="wrapper animateme" data-when="span" data-from="0" data-to="0.75" data-opacity="1" data-translatey="-50">
              <div class="heading">Our Current <b class="c-pink">Deals*</b></div>
              <div class="subheding">Check our amazing deals that give you huge savings across our product range from Domains & SSL Certificates to Cloud Servers & Hosting Plans. Find the deal that's right for you from our selection below.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** COUNTDOWN ***** -->
    <div class="pt-4 pb-4 mb-0 alert-warning alert alert-dismissible fade show" role="alert">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h4 class="count-txt pe-2 mb-0"><span class="c-pink">*</span> Special Offer - 50% Off Antler Template </h4>
          </div>
          <div class="col-md-5">
            <div class="count-content float-end">
              <h4 class="mb-0"><strong id="specialclock" class="clock c-pink"></strong></h4>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn-close mt-3" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!-- ***** PROMO PLANS ***** -->
    <section class="services blog sec-normal pt-5 bg-colorstyle">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-md-4">
              <img src="img/topbanner05.jpg" data-src="img/topbanner05.jpg" class="img-responsive lazyload" alt="photo">
              <div class="service-section m-0 bg-seccolorstyle noshadow ">
                <div class="plans badge feat bg-pink">50% off</div>
                <div class="title mt-0 mergecolor">50% off Shared Hosting</div>
                <p class="subtitle seccolor">Good news! <b class="c-pink">Enjoy 50% off</b> any of our Shared Hosting Plans, available only to first-year purchases.</p>
                <hr>
                <div class="small d-flex align-items-center seccolor">
                  <span class="icon-cart text-dark h3 mb-0 me-2 seccolor"></span>
                  <span class="ps-2 pe-4">/1st year purchases only</span>
                </div>
                <a href="#" class="btn btn-default-yellow-fill">Buy Now</a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="img/topbanner06.jpg" data-src="img/topbanner06.jpg" class="img-responsive lazyload" alt="photo">
              <div class="service-section m-0 bg-seccolorstyle noshadow ">
                <div class="plans badge feat bg-pink">domains</div>
                <div class="title mt-0 mergecolor">TLDs For $0.77</div>
                <p class="subtitle seccolor">TLDs available for <b class="c-pink">just $0.77</b> with 10 email accounts with 5GB each and Premium Support 24/7/365.</p>
                <hr>
                <div class="small d-flex align-items-center seccolor">
                  <span class="icon-cart text-dark h3 mb-0 me-2 seccolor"></span>
                  <span class="ps-2 pe-4">/1st year purchases only</span>
                </div>
                <a href="blog" class="btn btn-default-yellow-fill">Buy Now</a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="img/topbanner03.jpg" data-src="img/topbanner03.jpg" class="img-responsive lazyload" alt="photo">
              <div class="service-section m-0 bg-seccolorstyle noshadow ">
                <div class="plans badge feat bg-pink">35% Off</div>
                <div class="title mt-0 mergecolor">Wilcard SSL for 35% Off</div>
                <p class="subtitle seccolor"><b class="c-pink">Wildcard SSL only $57.2/yr</b> instead of $88/yr! Suitable for small & medium-sized businesses.</p>
                <hr>
                <div class="small d-flex align-items-center seccolor">
                  <span class="icon-cart text-dark h3 mb-0 me-2 seccolor"></span>
                  <span class="ps-2 pe-4">/1st year purchases only</span>
                </div>
                <a href="blog" class="btn btn-default-yellow-fill">Buy Now</a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="img/topbanner09.jpg" data-src="img/topbanner09.jpg" class="img-responsive lazyload" alt="photo">
              <div class="service-section m-0 bg-seccolorstyle noshadow ">
                <div class="plans badge feat bg-pink">15% Off</div>
                <div class="title mt-0 mergecolor">This Month's Coupons</div>
                <p class="subtitle seccolor">Each month, we release fresh coupons with discounts making our products even lower in price!</p>
                <hr>
                <div class="small d-flex align-items-center seccolor">
                  <span class="icon-cart text-dark h3 mb-0 me-2 seccolor"></span>
                  <span class="ps-2 pe-4">/1st year purchases only</span>
                </div>
                <a href="blog" class="btn btn-default-yellow-fill">Get Now</a>
              </div>
            </div>
            <div class="col-md-4">
              <img src="img/topbanner08.jpg" data-src="img/topbanner08.jpg" class="img-responsive lazyload" alt="photo" >
              <div class="service-section m-0 bg-seccolorstyle noshadow ">
                <div class="plans badge feat bg-pink">55% Off</div>
                <div class="title mt-0 mergecolor">G Suite for 55% Off</div>
                <p class="subtitle seccolor">G Suite By Google - Email, Chat, Apps, Cloud Storage. All you need in one package <b class="c-pink">now for 55% off.</b></p>
                <hr>
                <div class="small d-flex align-items-center seccolor">
                  <span class="icon-cart text-dark h3 mb-0 me-2 seccolor"></span>
                  <span class="ps-2 pe-4">/1st year purchases only</span>
                </div>
                <a href="blog" class="btn btn-default-yellow-fill">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <svg class="division-ontop bg-white d-none" viewBox="0 0 1440 150">
      <path fill="#fdd700" fill-opacity="1" d="M0,96L120,85.3C240,75,480,53,720,53.3C960,53,1200,75,1320,85.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>

    <!-- ***** PROMOS ***** -->
    <section class="services sec-normal exapath sec-bg4 scrollme">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Check individual Promo Codes?</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <div class="plans badge feat bg-pink">50% off</div>
                <img class="svg" src="fonts/svg/domains.svg" alt="">
                <div class="title mergecolor">.com Domains</div>
                <h4 class="seccolor"><del>$16.00</del> now <b class="c-pink">$8.00/yr</b></h4>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
                <a href="#" class="btn btn-default-pink-fill">Show Code</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <div class="plans badge feat bg-pink">35% off</div>
                <img class="svg" src="fonts/svg/cloudlinux.svg" alt="">
                <div class="title mergecolor">Business SSD Hosting</div>
                <h4 class="seccolor"><del>$98.24</del> now <b class="c-pink">$63.85/yr</b></h4>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
                <a href="#" class="btn btn-default-pink-fill">Show Code</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <div class="plans badge feat bg-grey">best offer</div>
                <img class="svg" src="fonts/svg/protection.svg" alt="">
                <div class="title mergecolor">DDoS Layer 4</div>
                <h4 class="seccolor"><b class="c-pink">$11.00/yr</b> save $21.00</h4>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
                <a href="#" class="btn btn-default-pink-fill">Show Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** COUPONS ***** -->
    <section class="getready sec-bg3 scrollme bg-colorstyle">
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <div class="column-support-txt animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatex="-60" data-easeinout="0">
              <div class="column-support-title mergecolor">Looking for the best Coupons?</div>
              <div class="column-support-subtitle mergecolor">If you want coupons for with deepest discounts, this is the best place to find them.</div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="btn-floats">
              <a href="#" class="btn btn-default-pink-fill">Go Coupons</a>
            </div>
          </div>
        </div>
      </div>
    </section>    
    <!-- ***** PAYMENT TYPES ***** -->
    <section class="services sec-normal sec-bg2 bg-seccolorstyle">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-start">
              <h2 class="section-heading mergecolor">Multiple Payment Types</h2>
              <p class="section-subheading mergecolor">Different customers like to pay in different ways, and Antler lets you embrace them all. From international payment card providers like Visa and American Express to digital wallets and platforms like PayPal and WeChat Pay, <a href="payments" class="golink">we make it simple for you to complete transactions with ease.</a></p>
            </div>
            <div class="col-md-12 pb-0 pt-5 seccolor"><h4>Major debit and credit cards</h4></div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="service-section bg-colorstyle noshadow">
                <img src="img/payments/visa.svg" data-src="img/payments/visa.svg" class="lazyload" alt="">
                <hr>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat
                </p>
                <a href="" class="btn btn-default-yellow-fill">Visa</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="service-section bg-colorstyle noshadow">
                <img src="img/payments/mastercard.svg" data-src="img/payments/mastercard.svg" class="lazyload" alt="">
                <hr>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat
                </p>
                <a href="" class="btn btn-default-yellow-fill">Mastercard</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="service-section bg-colorstyle noshadow">
                <img src="img/payments/americanexpress.svg" data-src="img/payments/americanexpress.svg" class="lazyload" alt="">
                <hr>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat
                </p>
                <a href="" class="btn btn-default-yellow-fill">American</a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
              <div class="service-section bg-colorstyle noshadow">
                <img src="img/payments/discover.svg" data-src="img/payments/discover.svg" class="lazyload" alt="">
                <hr>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat
                </p>
                <a href="" class="btn btn-default-yellow-fill">Discover</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** MAP ***** -->
    <section class="services maping sec-normal sec-grad-grey-to-grey bottompadding">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading text-white mergecolor">Our Datacenters are Located in 7 Regions</h2>
              <p class="section-subheading text-muted mergecolor"><span class="golink">Lorem ipsum dolor</span> sit amet, consectetur adipiscing elit sed, do eiusmod tempor  <span class="c-pink">incididunt lorem ipsum</span> dolor sit amet</p>
            </div>
            <div class="col-md-12 pt-5 scrollme position-relative">
              <img src="patterns/map.svg" class="lazyload w-10 animateme" alt="Load Balancing" data-when="view" data-from="1" data-to="0" data-opacity="0">
              <span class="datacenters montreal" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Montreal" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters newyork" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="New York" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." ></span>
              <span class="datacenters portugal"  data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Portugal" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters london" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="London" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters moskow" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Moskow"  data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters hongkong" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Hong Kong" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
              <span class="datacenters singapure" data-bs-toggle="popover" data-bs-container="body" data-bs-trigger="hover" data-bs-placement="top" title="Singapure" data-bs-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** CONTACT FORM ***** -->
    <section id="ticket" class="exapath noimage pb-80 bg-colorstyle">
      <div class="container">
        <div class="sec-main sec-up mb-0 sec-bg1 bg-colorstyle noshadow nopadding">
          <div class="randomline hideelement">
            <div class="bigline"></div>
            <div class="smallline"></div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 cd-filter-block mb-0">
              <div class="form-contact cd-filter-content p-0 sec-bx">
                <div class="text-center">
                  <h2 class="section-heading mergecolor">Full out the Contact form to contact us</h2>
                  <p class="mergecolor">We Will Help You To Choose The Best Plan!</p>
                </div>
                <form id="contactForm" method="POST">
                  <div class="row">
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-user-tie"></i></label>
                      <input id="name" type="text" name="name" placeholder="Full Name" required="">
                    </div>
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-envelope"></i></label>
                      <input id="email" type="email" name="email" placeholder="Email Address" required="">
                    </div>
                    <div class="col-md-6 position-relative">
                      <label><i class="fas fa-file-alt"></i></label>
                      <input id="subject" type="text" name="subject" placeholder="Subject" required>
                    </div>
                    <div class="col-md-6 position-relative">
                      <div class="cd-select mt-4">
                        <label class="db"></label>
                        <select id="department" name="department" class="select-filter">
                          <option value="">Choose Department</option>
                          <option value="Support/Help Desk">Support/Help Desk</option>
                          <option value="Commercial Department">Commercial Department</option>
                          <option value="Sales Department">Sales Department</option>
                          <option value="Schedule Metings">Schedule Metings</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 position-relative">
                      <div class="form-group mt-4">
                        <textarea id="message" name="message" class="form-control" rows="5" placeholder="Message..."></textarea>
                      </div>
                    </div>
                    <div class="col-md-6 position-relative mt-5">
                      <input name="newsletter" type="checkbox" id="checkbox" class="filter">
                      <label for="checkbox" class="checkbox-label c-grey mb-4 seccolor" ><span>I have read and accept the terms of the privacy policy - <a href="legal" class="golink">RGPD</a></span></label>
                      <button type="submit" value="Submit" class="btn btn-default-yellow-fill float-start me-3">Submit Ticket</button>
                      <button type="reset" value="reset" class="btn btn-default-fill mt-0 mb-3 me-3">Reset</button><br>
                    </div>
                    <div id="msgSubmit" class="col-md-12 mt-4">
                      <h3 class="c-pink"> Message Submitted!</h3>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/jquery.scrollme.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script async src="js/lazysizes.min.js"></script>
<script defer src="js/scripts.min.js"></script>
<script defer src="js/settings-init.js"></script>
</body>
</html>