<button class="btn btn-default btn-settings" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><span class="fas fa-sliders-h"></span> <span>PANEL</span></button>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h4 id="offcanvasRightLabel" class="fw-bold mb-0">Antler Setup</h4>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div id="container_layout" class="offcanvas-body">
    <a href="https://themeforest.net/item/antler-hosting-provider-whmcs-template/23139614" target="_blank" class="btn btn-default-pink-fill d-grid mb-3">Buy Now on Envato $27</a>
    <div class="offcanvas-content">
      <!-- ***** LAYOUT MODE ****** -->
      <h6 class="text-muted text-center fw-bold pb-2">Layout Mode</h6>
      <div id="LayoutScheme" class="overflow-hidden">
        <div class="row gy-3">
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylelayout" data-value="wide">Wide</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylelayout" data-value="frame">Frame</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylelayout" data-value="boxed">Boxed</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylelayout" data-value="wideboxed">Wide Boxed</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="offcanvas-content">
      <!-- ***** BACKGROUND STYLE ****** -->
      <h6 class="text-muted text-center fw-bold pb-2">Background Style</h6>
      <div id="BackgroundScheme" class="overflow-hidden">
        <div class="row gy-3">
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylebackground" data-value="origin">Origin</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylebackground" data-value="light">Light</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylebackground" data-value="dark">Dark</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted" data-value="dark">SOON</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="offcanvas-content">
      <!-- ***** COLOR SCHEME ****** -->
      <h6 class="text-muted text-center fw-bold pb-2">Color Scheme</h6>
      <div id="ColorScheme" class="overflow-hidden">
        <div class="row gy-3">
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylecolor" data-value="pink">Pink Mode</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylecolor" data-value="blue">Blue Mode</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylecolor" data-value="green">Green Mode</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylecolor" data-value="black">Black Mode</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="offcanvas-content">
      <!-- ***** HEADER POSITIONS ****** -->
      <h6 class="text-muted text-center fw-bold pb-2">Header Position</h6>
      <div id="HeaderScheme" class="overflow-hidden">
        <div class="row gy-3">
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light styleheader" data-value="static">Static</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light styleheader" data-value="fixed">Fixed</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="offcanvas-content">
      <!-- ***** FONT BODY ****** -->
      <h6 class="text-muted text-center fw-bold pb-2">Body Font</h6>
      <div id="FontScheme" class="overflow-hidden">
        <div class="row gy-3">
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylefont" data-value="opensans">Open Sans</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylefont" data-value="poppins">Poppins</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylefont" data-value="nunito">Nunito</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light stylefont" data-value="raleway">Raleway</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="offcanvas-content">
      <!-- ***** TEXT DIRECTIONS ****** -->
      <h6 class="text-muted text-center fw-bold pb-2">Text Direction</h6>
      <div id="TextDirectionScheme" class="overflow-hidden">
        <div class="row gy-3">
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light styletextDirection" data-value="ltr">LTR Support</div>
          </div>
          <div class="col-6">
            <div class="p-3 border text-center text-muted bg-light styletextDirection" data-value="rtl">RTL Support</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="https://inebur.com/antler/overview/#themes" target="_blank">
<button class="btn btn-default btn-demos" type="button">
  <span class="fas fa-layer-group"></span> <span>DEMOS</span>
</button>
</a>
<script defer src="js/settings.js"></script>