<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="css/animate.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <!-- ***** LOADING PAGE ****** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
    <header id="header"> </header>
    <!-- ***** BANNER ***** -->
    <div class="top-header item7 overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="wrapper">
              <h1 class="heading">SSL Certificates</h1>
              <h3 class="subheading">Security, credibility and trust for your visitors they deserve</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** PRICING TABLES ***** -->
    <section class="pricing special sec-up-slider bg-colorstyle specialposition">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper first text-start wow animated fadeInUp fast noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/privacy.svg" alt="">
                <div class="title">Positive SSL</div>
                <div class="fromer seccolor">+ VAT at 20%</div>
                <div class="price mergecolor"><sup>$</sup>39.99 <span class="period">/year</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-lock"></i> <span class="c-purple">DOMAIN</span><br> <span>Secure HTTPS</span></li>
                <li><i class="icon-browser"></i> <span class="c-purple">BROWSER</span><br> <span>Padlock visible</span></li>
                <li><i class="icon-money"></i> <span class="c-purple">WARRANTY</span><br> <span>No included</span></li>
                <li><i class="icon-key"></i> <span class="c-purple">ENCRYPTION</span><br> <span>128/256 bit SHA-2</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper text-start wow animated fadeInUp noshadow">
              <div class="plans badge feat bg-pink">most popular</div>
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/privacy.svg" alt="">
                <div class="title">Wildcard SSL</div>
                <div class="fromer seccolor">+ VAT at 20%</div>
                <div class="price mergecolor"><sup>$</sup>88.00 <span class="period">/year</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info bg-purple">
                <li><i class="icon-lock"></i> <span class="c-pink">DOMAIN</span><br> <span>Secure HTTPS</span></li>
                <li><i class="icon-browser"></i> <span class="c-pink">BROWSER</span><br> <span>Padlock visible</span></li>
                <li><i class="icon-money"></i> <span class="c-pink">WARRANTY</span><br> <span>$250.000</span></li>
                <li><i class="icon-key"></i> <span class="c-pink">ENCRYPTION</span><br> <span>128/256 bit SHA-2</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper third text-start wow animated fadeInUp fast noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/privacy.svg" alt="">
                <div class="title">EV SSL</div>
                <div class="fromer seccolor">+ VAT at 20%</div>
                <div class="price mergecolor"><sup>$</sup>110.99 <span class="period">/year</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-lock"></i> <span class="c-purple">DOMAIN</span><br> <span>Secure HTTPS</span></li>
                <li><i class="icon-browser"></i> <span class="c-purple">BROWSER</span><br> <span>Green bar visible</span></li>
                <li><i class="icon-money"></i> <span class="c-purple">WARRANTY</span><br> <span>$1.000.000</span></li>
                <li><i class="icon-key"></i> <span class="c-purple">ENCRYPTION</span><br> <span>128/256 bit SHA-2</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <svg class="division-ontop bg-white d-none" viewBox="0 0 1440 150">
      <path fill="#fdd700" fill-opacity="1" d="M0,96L120,85.3C240,75,480,53,720,53.3C960,53,1200,75,1320,85.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>

    <!-- ***** WHY CHOOSE ANTLER ***** -->
    <section class="services sec-normal motpath sec-bg4 scrollme">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Why get an SSL Certificates from Antler?</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <div class="plans badge feat bg-grey">visitors</div>
                <img class="svg" src="fonts/svg/privacy.svg" alt="">
                <div class="title mergecolor">Guaranteed security</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <img class="svg" src="fonts/svg/award.svg" alt="">
                <div class="title mergecolor">TrustLogo site seal</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <div class="plans badge feat bg-pink">google</div>
                <img class="svg" src="fonts/svg/progress.svg" alt="">
                <div class="title mergecolor">Ranking higher</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** FEATURES ***** -->
    <section id="features" class="history-section feat01 sec-normal sec-bg2 bg-colorstyle">
      <div class="container">
        <div class="randomline">
          <div class="bigline"></div>
          <div class="smallline"></div>
        </div>
        <div class="sec-main sec-bg1 bg-colorstyle noshadow nopadding">
          <div class="row">
            <div class="col-md-12 col-lg-5 wow animated fadeInUp fast first">
              <img class="svg" src="patterns/protectvisitors.svg" alt="git">
            </div>
            <div class="col-md-12 col-lg-6 offset-lg-1">
              <div class="info-content">
                <h1 class="fw-bold mb-3 mergecolor">Protect your visitors</h1>
                <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born.</p>
              </div>
              <a href="" class="btn btn-default-yellow-fill mt-3">Protect now</a>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 col-lg-5">
              <div class="info-content">
                <h1 class="fw-bold mb-3 mergecolor">Secure browsing experience</h1>
                <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born.</p>
              </div>
              <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
            </div>
            <div class="col-md-12 col-lg-6 offset-lg-1 wow animated fadeInUp fast second">
              <img class="svg" src="patterns/ssl.svg" alt="deployment">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12 col-lg-6 wow animated fadeInUp fast third">
              <img class="svg" src="patterns/ranking.svg" alt="ranking">
            </div>
            <div class="col-md-12 col-lg-5 offset-lg-1">
              <div class="info-content">
                <h1 class="fw-bold mb-3 mergecolor">Increase your rankings and grow</h1>
                <p class="seccolor">But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing pleasure</a> and praising pain was born.</p>
              </div>
              <a href="" class="btn btn-default-yellow-fill mt-3">About ranking</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="fullline d-none">
    <!-- ***** PRICING TABLES ***** -->
    <section class="sec-normal bg-colorstyle">
      <div class="best-plans pricing">
        <div class="container">
          <div class="randomline">
            <div class="bigline"></div>
            <div class="smallline"></div>
          </div>
          <div class="sec-main sec-bg1">
            <div class="plans badge feat bg-pink hideelement">Compare All SSL Plans</div>
            <div class="row">
              <div class="col-sm-12">
                <div id="table-container" class="table-responsive-lg">
                  <table id="maintable" class="table">
                    <thead>
                      <tr>
                        <td></td>
                        <td>
                          <div class="title">Positive SSL</div>
                          <div class="price mergecolor"><sup>$</sup>39.99<span class="period">/year</span></div>
                          <div class="info seccolor">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                          <a href="" class="btn btn-default-yellow-fill">Buy Now</a><br>
                        </td>
                        <td>
                          <div class="title">Wildcard SSL</div>
                          <div class="price mergecolor"><sup>$</sup>88.00<span class="period">/year</span></div>
                          <div class="info seccolor">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                          <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                        </td>
                        <td>
                          <div class="title">EV SSL</div>
                          <div class="price mergecolor"><sup>$</sup>110.99<span class="period">/year</span></div>
                          <div class="info seccolor">Sed ut perspiciatis unde omnis natus error voluptatem</div>
                          <a href="" class="btn btn-default-yellow-fill">Buy Now</a>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="title-table" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="I must explain to you">Domain Validation
                          </div>
                        </td>
                        <td><i class="fas fa-check seccolor"></i></td>
                        <td><i class="fas fa-check seccolor"></i></td>
                        <td><i class="fas fa-check seccolor"></i></td>
                      </tr>
                      <tr>
                        <td>
                          <div id="element" class="title-table" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="I must explain to you">Logo Supported
                          </div>
                        </td>
                        <td><i class="fas fa-times seccolor"></i></td>
                        <td><i class="fas fa-check seccolor"></i></td>
                        <td><i class="fas fa-check seccolor"></i></td>
                      </tr>
                      <tr>
                        <td class="title-table">Sub-domains</td>
                        <td>5 Sub-domain</td>
                        <td>15 Sub-domain</td>
                        <td>Unlimited</td>
                      </tr>
                      <tr>
                        <td class="title-table"> Issued</td>
                        <td>2 Days</td>
                        <td>4 Days</td>
                        <td>6 Days</td>
                      </tr>
                      <tr>
                        <td class="title-table">Reissuance</td>
                        <td>Free</td>
                        <td>Free</td>
                        <td>Free</td>
                      </tr>
                      <tr>
                        <td class="title-table">Warranty</td>
                        <td>No included</td>
                        <td>$250,000</td>
                        <td>$1.000.000</td>
                      </tr>
                      <tr>
                        <td class="title-table">Encryption</td>
                        <td>128/256 bit SHA-2</td>
                        <td>128/256 bit SHA-2</td>
                        <td>128/256 bit SHA-2</td>
                      </tr>
                      <tr>
                        <td class="border-0 sticky-stopper"></td>
                        <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                        <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                        <td><a href="" class="btn btn-default-yellow-fill">Buy Now</a></td>
                      </tr>
                    </tbody>
                  </table>
                  <div id="bottom_anchor"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** TEAM ***** -->
    <section class="sec-normal pb-5 sec-bg2 bottompadding bg-seccolorstyle">
      <div class="team">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <h2 class="section-heading mergecolor">Did not find what you looking for?</h2>
              <p class="section-subheading seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="wrapper">
                <div class="img-section">
                  <div class="soc-icons-wrap">
                    <div class="icons">
                      <a href=""><i class="fab fa-facebook-f"></i></a>
                      <a href=""><i class="fab fa-google-plus-g"></i></a>
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="team-info bg-colorstyle noshadow">
                  <img class="svg" src="patterns/supportman.svg" alt="team">
                  <h3 class="heading mergecolor">John T. Erikson</h3>
                  <div class="subheading seccolor">Support, Helpdesk</div>
                  <div class="desc seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                  <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="wrapper">
                <div class="img-section">
                  <div class="soc-icons-wrap">
                    <div class="icons">
                      <a href=""><i class="fab fa-facebook-f"></i></a>
                      <a href=""><i class="fab fa-google-plus-g"></i></a>
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="team-info bg-colorstyle noshadow">
                  <img class="svg" src="patterns/commercialman.svg" alt="team">
                  <h3 class="heading mergecolor">Walter T. Adams</h3>
                  <div class="subheading seccolor">Commercial Department</div>
                  <div class="desc seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
                  <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="wrapper">
                <div class="img-section">
                  <div class="soc-icons-wrap">
                    <div class="icons">
                      <a href=""><i class="fab fa-facebook-f"></i></a>
                      <a href=""><i class="fab fa-google-plus-g"></i></a>
                      <a href=""><i class="fab fa-twitter"></i></a>
                      <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                  </div>
                </div>
                <div class="team-info bg-colorstyle noshadow">
                  <img class="svg" src="patterns/salesman.svg" alt="team">
                  <h3 class="heading mergecolor">Verna B. Ahmed</h3>
                  <div class="subheading seccolor">Sales Department</div>
                  <div class="desc seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
                  <a href="#" class="btn btn-default-yellow-fill mt-4">Contact</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** HELP ***** -->
    <section class="help pt-0 pb-80 sec-bg2 toppadding bg-seccolorstyle notoppadding">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="help-container bg-colorstyle noshadow">
                <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
                <a href="hosting" class="help-item">
                  <div class="img">
                    <img class="svg ico" src="fonts/svg/cloudfiber.svg" alt="">
                  </div>
                  <div class="inform">
                    <div class="title mergecolor">Go to Shared Hosting</div>
                    <div class="description seccolor">Need similar power but a simpler solution?</div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="help-container bg-colorstyle noshadow">
                <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
                <a href="dedicated" class="help-item">
                  <div class="img">
                    <img class="svg ico" src="fonts/svg/dedicated.svg" alt="">
                  </div>
                  <div class="inform">
                    <div class="title mergecolor">Go to Dedicated Server</div>
                    <div class="description seccolor">Need more power and resources?</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/jquery.scrollme.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/variables.js"></script>
<script defer src="js/scripts.min.js"></script>
<script defer src="js/settings-init.js"></script>
</body>
</html>