<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Antler - Hosting Provider & WHMCS Template</title>
    <meta name="description" content="">
    <link href="img/favicon.ico" rel="shortcut icon">
    <!-- Fonts -->
    <link href="fonts/cloudicon/cloudicon.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="fonts/fontawesome/css/all.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <!-- RTL STYLES-->
    <link href="css/rtl/bootstrap-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <link href="css/rtl/style-rtl.min.css" disabled="true" rel="stylesheet" class="rtl">
    <!-- CSS styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet" class="ltr" onload="if(media!='all')media='all'">
    <link href="css/filter.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet" onload="if(media!='all')media='all'">
    <link href="css/style.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <body >
  <!-- ***** SETTINGS ****** -->
  <section id="settings"> </section>
  <!-- ***** BANNERL ***** -->
  <div id="spinner-area">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="spinner-txt">Antler...</div>
    </div>
  </div>
  <div class="box-container limit-width">
    <!-- ***** FRAME MODE ****** -->
    <div class="body-borders" data-border="20">
      <div class="top-border bg-white"></div>
      <div class="right-border bg-white"></div>
      <div class="bottom-border bg-white"></div>
      <div class="left-border bg-white"></div>
    </div>
    <!-- ***** UPLOADED MENU FROM HEADER.HTML ***** -->
    <header id="header"> </header>
    <!-- ***** SLIDER ***** -->
    <div class="top-header item12 overlay">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <div class="wrapper">
              <h1 class="heading">TeamSpeake <br>Hosting</h1>
              <div class="included">
                <h4 class="mb-3">All plans include the following</h4>
                <ul>
                  <li><i class="fas fa-check-circle"></i> FREE Teamspeak Installation</li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> FREE Teamspeak Configuration</li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> Full Weekly Backup </li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> 99.99% Uptime Guarantee</li>
                </ul>
                <ul>
                  <li><i class="fas fa-check-circle"></i> 24/7 Fully Managed Support</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** PRICING TABLES ***** -->
    <section class="pricing special sec-uping scrollme sec-neutral">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-sm-12 col-md-12 col-lg-7">
            <div class="wrapper price-container text-start animateme bg-colorstyle noshadow" data-when="span" data-from="0" data-to="0.75" data-opacity="1" data-translatey="-50">
              <div class="plans badge feat bg-grey">voice server</div>
              <div class="top-content cd-filter-block mb-5">
                <div class="row">
                  <div class="col-md-12 mergecolor">Host TeamSpeak in the Cloud for only <b class="c-pink">$9.99/mo</b></div>
                  <div class="col-md-6">
                    <div class="mt-4">
                      <input id="name" type="text" name="name" placeholder="Name" required="">
                    </div>
                    <div class="cd-select mt-4">
                      <div class="cd-select mt-4">
                        <label class="db"></label>
                        <select id="department" name="department" class="select-filter">
                          <option value="basic">TS Basic (10 Slots)</option>
                          <option value="advance">TS Advance (30 Slots)</option>
                          <option value="premium">TS Premium (90 Slots)</option>
                          <option value="custom">TS Custom</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mt-4">
                      <input id="email" type="email" name="email" placeholder="Email Address" required="">
                      <a href="" class="btn btn-block btn-default-yellow-fill">Sign Up</a>
                  </div>
                  <div class="col-md-12 c-grey fromer mt-4 seccolor">Make sure you have conversations in a safe and fast way. <span class="golink text-start">Need help?</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** PRICING TABLES ***** -->
    <section class="pricing special sec-normal pt-4 exapath bottompadding bg-colorstyle">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper first text-start wow animated fadeInUp fast noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/helpdesk.svg" alt="">
                <div class="title">TeamSpeak Basic</div>
                <div class="fromer seccolor">before <del><mark>$14.00</mark></del></div>
                <div class="price mergecolor"><sup>$</sup>9.99 <span class="period">/mo</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-cloudserver"></i> <span class="c-purple">SLOTS</span><br> <span>10 Slots (up to 20)</span></li>
                <li><i class="icon-cpu"></i> <span class="c-purple">CPU</span><br> <span>2 Cores</span></li>
                <li><i class="icon-ram"></i> <span class="c-purple">RAM</span><br> <span>2GB Memory</span></li>
                <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>60GB SSSD Storage</span></li>
                <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>500MB Bandwidth</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper text-start wow animated fadeInUp noshadow">
              <div class="plans badge feat bg-pink">most popular</div>
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/helpdesk.svg" alt="">
                <div class="title">TeamSpeak Advance</div>
                <div class="fromer seccolor">before <del><mark>$29.99</mark></del></div>
                <div class="price mergecolor"><sup>$</sup>21.00 <span class="period">/mo</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info bg-purple">
                <li><i class="icon-cloudserver"></i> <span class="c-pink">SLOTS</span><br> <span>30 Slots (up to 40)</span></li>
                <li><i class="icon-cpu"></i> <span class="c-pink">CPU</span><br> <span>3 Cores</span></li>
                <li><i class="icon-ram"></i> <span class="c-pink">RAM</span><br> <span>4GB Memory</span></li>
                <li><i class="icon-drives"></i> <span class="c-pink">DISK</span><br> <span>120GB SSD Storage</span></li>
                <li><i class="icon-speed"></i> <span class="c-pink">DATA</span><br> <span>1TB Bandwidth</span></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="wrapper third text-start wow animated fadeInUp fast noshadow">
              <div class="top-content bg-seccolorstyle topradius">
                <img class="svg mb-3" src="fonts/svg/helpdesk.svg" alt="">
                <div class="title">TeamSpeak Premium</div>
                <div class="fromer seccolor">before <del><mark>$62.00</mark></del></div>
                <div class="price mergecolor"><sup>$</sup>49.00 <span class="period">/mo</span></div>
                <a href="" class="btn btn-default-yellow-fill">Buy now</a>
              </div>
              <ul class="list-info">
                <li><i class="icon-cloudserver"></i> <span class="c-purple">SLOTS</span><br> <span>90 Slots (up to 120)</span></li>
                <li><i class="icon-cpu"></i> <span class="c-purple">CPU</span><br> <span>4 Cores</span></li>
                <li><i class="icon-ram"></i> <span class="c-purple">RAM</span><br> <span>16GB Memory</span></li>
                <li><i class="icon-drives"></i> <span class="c-purple">DISK</span><br> <span>256GB SSD Storage</span></li>
                <li><i class="icon-speed"></i> <span class="c-purple">DATA</span><br> <span>4TB Bandwidth</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** FEATURES ***** -->
    <section class="sec-normal history-section sec-bg2 bg-colorstyle">
      <div class="container">
        <div class="sec-main sec-bg1 bg-colorstyle noshadow nopadding">
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="info-content">
                <h2 class="mb-4 mergecolor"><b>Maximum Performance</b></h2>
                <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <a href="#" class="golink">quis nostrud exercitation ullamco</a> laboris nisi.</p>
                <p class="seccolor">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
              <img class="svg" src="patterns/ssd.svg" alt="dns redundant">
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="info-content">
                <h2 class="mb-4 mergecolor"><b>Instant provisioning</b></h2>
                <p class="seccolor">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet, <a href="#" class="golink">consectetur adipiscing elit,</a> sed do eiusmod tempor incididunt.</p>
                <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
              <img class="svg" src="patterns/provisioning.svg" alt="provisioning" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="info-content">
                <h2 class="mb-4 mergecolor"><b>High Availability Redundant Systems</b></h2>
                <p class="seccolor">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will. Lorem ipsum dolor sit amet, <a href="#" class="golink">consectetur adipiscing elit,</a> sed do eiusmod tempor incididunt.</p>
                <p class="seccolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
              </div>
            </div>
            <div class="col-md-10 offset-md-1 pt-5 wow animated fadeInUp fast">
              <img class="svg" src="patterns/redundant.svg" alt="provisioning">
            </div>
          </div>
        </div>
      </div>
    </section>

    <svg class="division-ontop bg-white d-none" viewBox="0 0 1440 150">
      <path fill="#fdd700" fill-opacity="1" d="M0,96L120,85.3C240,75,480,53,720,53.3C960,53,1200,75,1320,85.3L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z">
      </path>
    </svg>
    
    <!-- ***** WHY CHOOSE ANTLER ***** -->
    <section class="services sec-normal sec-bg4 motpath scrollme">
      <div class="container">
        <div class="service-wrap">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h2 class="section-heading">Why International Companies Choose Antler?</h2>
              <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <img class="svg" src="fonts/svg/database.svg" alt="">
                <div class="title mergecolor">Free Full Weekly Backup</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <div class="plans badge feat bg-pink">free</div>
                <img class="svg" src="fonts/svg/privacy.svg" alt="">
                <div class="title mergecolor">Free Encrypt SSL Certificate</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident voluptate. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 animateme" data-when="enter" data-from="1" data-to="0" data-opacity="1" data-translatey="-100" data-easeinout="0">
              <div class="service-section bg-colorstyle">
                <img class="svg" src="fonts/svg/key.svg" alt="">
                <div class="title mergecolor">Shell/SSH Access</div>
                <p class="subtitle seccolor">
                  Excepteur sint occaecat cupidatat non proident dolor. Lorem ipsum dolor sit amet, consectetur.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** FAQ. ***** -->
    <section class="sec-normal sec-bg1 bg-seccolorstyle bottomhalfpadding">
      <div class="faq">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
              <h2 class="section-heading mergecolor">Frequently Asked Questions Voice Server</h2>
              <p class="section-subheading mergecolor">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-sm-12">
              <div class="accordion faq pt-5">
                <div class="panel-wrap">
                  <div class="panel-title mergecolor active">
                    <span>Can I upgrade my server hosting plan later?</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse" style="display:block;">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list seccolor">
                          <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-wrap">
                  <div class="panel-title mergecolor">
                    <span>All our services are instantly activated?</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list seccolor">
                          <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-wrap">
                  <div class="panel-title mergecolor">
                    <span>We offer DDOS protection at no extra charge!</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list seccolor">
                          <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-wrap">
                  <div class="panel-title mergecolor">
                    <span>Will I have shell/root access?</span>
                    <div class="float-end">
                      <i class="fa fa-plus"></i>
                      <i class="fa fa-minus c-pink"></i>
                    </div>
                  </div>
                  <div class="panel-collapse">
                    <div class="wrapper-collapse">
                      <div class="info">
                        <ul class="list seccolor">
                          <li>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** UPLOADED FOOTER FROM FOOTER.HTML ***** -->
    <footer id="footer"> </footer>
  </div>
<!-- ***** BUTTON GO TOP ***** -->
<a href="#0" class="cd-top"> <i class="fas fa-angle-up"></i> </a>
<!-- Javascript -->
<script src="js/jquery.min.js"></script>
<script defer src="js/popper.min.js"></script>
<script defer src="js/bootstrap.min.js"></script>
<script defer src="js/jquery.countdown.js"></script>
<script defer src="js/jquery.magnific-popup.min.js"></script>
<script defer src="js/slick.min.js"></script>
<script defer src="js/owl.carousel.min.js"></script>
<script defer src="js/isotope.min.js"></script>
<script defer src="js/jquery.scrollme.min.js"></script>
<script defer src="js/swiper.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script defer src="js/scripts.min.js"></script>
<script defer src="js/settings-init.js"></script>
</body>
</html>